<div class="moresumaiful article">
    <div class="title">
        <p class="date"><?php echo ( $content->release_date->format('Y.m.d') ); ?></p>
        <h2> <?php echo noh( $content->title ); ?> </h2>
        <div class="back">
            <a href="/more-sumaifuls"><img src="<?php echo APP_URL . '/img/common/icon_back.png'; ?>"></a>
        </div>
    </div>
    <div class="text" oncontextmenu="return false;">
        <?php echo noh( $content->content ); ?>
    </div>
</div>
