<div class="logo">
    <?php echo noh( $this->Html->image('login/login_logo2.png') ); ?>
</div>
<div class="login_menu">
    <ul>
        <li><a href="#">ご検討者の方はこちら</a></li>
        <li><a href="#">ご契約の方はこちら</a></li>
        <li><a href="#">ご入居者の方はこちら</a></li>
        <li><a href="#">ご入居者のご家族はこちら</a></li>
    </ul>
</div>
