<div class="regist">
    <h2>ご登録情報</h2>
    <div class="input_area">
        <table>
            <tr>
                <th>
                    <label>部屋番号</label>
                </th>
                <td>
                    <input type="text">
                </td>
            </tr>
        </table>
    </div>
</div>
