@charset "UTF-8";
/*   
Theme Name: Willing
Description: Willing
Version: 2019.05
Author: YH
*/

/* ------------------------------------------
   Reset
------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline; }

* { outline: none; }

body { line-height: 1; }

*, *:before, *:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

ol, ul { list-style: none; }

blockquote { quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

a:focus {
  outline: none; }

a img {
  border: none; }

input, button, select, textarea {
  border-radius: 0; }

@media screen and (max-width: 767px) {
  input, button, select, textarea {
    -webkit-appearance: none; } }
/* ------------------------------------------
   Utility Class
------------------------------------------ */
/*** clearfix ***/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/* Style
-------------------------------------------------------------- */
html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.6em;
  color: #2e302e;
  background: #fff;
  -webkit-text-size-adjust: none;
  min-width: 960px;
  letter-spacing: 0.1em;
  font-family: sans-serif;
  overflow-x: hidden;
}

body p {
  color: inherit;
  font-size: inherit;
  line-height: 1.6em; }

a, a img {
  text-decoration: none;
  color: #231814;
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease; }

a:hover {
  opacity: 0.75; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  line-height: inherit; }

.non_pc {
  display: none !important; }

input, textarea, button {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: #fff;
}
input[type="submit"],
button {
  cursor: pointer;
}
::placeholder {
  color: #bfbfbf;
}
/*
.file{
    cursor: pointer;
}
*/
.file input[type=file]{
    display: none;
}

.leaved:after{
    content: '';
    display: inline-block;
    width: .8em;
    height: .8em;
    margin-left: .1em;
    background: url( /img/willing/icons/icon_graduate.png ) no-repeat center;
    background-size: contain;
}

/* ===========================================================================================

	Common

=========================================================================================== */
.outline {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
#top.outline {
    position:relative;
}

.main {
  z-index: 100;
  margin: 0 auto;
  padding: 30px 0 100px 0;
  position: relative;
  transition: opacity 0.3s ease;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
.photo_wrap{
    background:url(/img/willing/photo_wrap_bg.png);
    background-size:100% 100%;
}

header { }
header .header_wrap{
  min-height: 85px;
  padding: 20px 0;
  max-width: 960px;
  margin: 0 auto;
}
header h1 {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 140px;
  margin: 0 0 0 -70px;
}
header .userdata {
  float: left;
  width: 400px;
}
header .userdata .photo_wrap{
  float: left;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  padding:2px;
  margin-right: 20px;
}
header .userdata .photo {
  display:block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}
header .userdata .name {
   font-size: 24px;
   margin-top: 15px;
   font-weight: bold;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
header .userdata .bt_box {
    
}
header .userdata .bt_box a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 42px;
  height: 42px;
  float: left;
  background-image: url(/img/willing/icons/icon_message.png);
  background-repeat:no-repeat;
  background-position:center;
  margin-left: 15px;
}
header .userdata .bt_box a:first-child {
  margin-left: 0;
}
header .userdata .bt_box a.bt_message {
  background-size: auto 26px;
}
header .userdata .bt_box a.bt_message.active {
  background-image: url(/img/willing/icons/icon_message_on.png);
}
header .userdata .bt_box a.bt_favorite {
  background-image: url(/img/willing/icons/icon_favorite.png);
  background-size: auto 26px;
}
header .userdata .bt_box a.bt_favorite.active {
  background-image: url(/img/willing/icons/icon_favorite_on.png);
}
header .userdata .bt_box a.bt_gift {
  background-image: url(/img/willing/icons/icon_gift.png);
  background-size: auto 30px;
}
header .userdata .bt_box a.bt_gift.active {
  background-image: url(/img/willing/icons/icon_gift_on.png);
}
header .userdata .bt_box a.bt_line_open_chat {
  background-image: url(/img/willing/icons/icon_line_open_chat.png);
  background-size: auto 27px;
}
header .userdata .bt_box a.bt_line_open_chat:hover,
header .userdata .bt_box a.bt_line_open_chat.active {
  background-image: url(/img/willing/icons/icon_line_open_chat_on.png);
}
header .userdata .bt_box a.bt_equipment {
  background-image: url(/img/willing/icons/icon_equipment.png);
  background-size: auto 26px;
}
header .userdata .bt_box a.bt_equipment:hover,
header .userdata .bt_box a.bt_equipment.active {
  background-image: url(/img/willing/icons/icon_equipment_on.png);
}

header .userdata .bt_box a.active {
}


header .point{
  display: inline-block;
  width: 160px;
  height: 40px;
  margin-right: 220px;
  text-align: right;
}

header .point span{
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
}
header .point span::before{
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background: url( /img/willing/icons/icon_point.png ) no-repeat left center;
  background-size: auto 18px;
  vertical-align: middle;
}

header .action {
  margin-top: 10px;
  width: 135px;
}

header .menu_box{
    position:relative;
    float:right;
    width: 380px;
}
header .action a.bt_post {
    position:absolute;
    top:0;
    right:150px;
}
header .action a.bt_community {
    position:absolute;
    top:0;
    right:80px;
}
header .bt_menu{
    position:absolute;
    top:0;
    right:0;
}
header .search{
    position:absolute;
    top:60px;
    right:0;
}
header .bt_menu,
header .action a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-position:center center;
  background-repeat:no-repeat;
  margin-left: 15px;
}
header .action a.bt_post { background-image: url(/img/willing/icons/icon_post.png); }
header .action a.bt_post.active { background-image: url(/img/willing/icons/icon_post_on.png); }
html[lang=en] header .action a.bt_post { background-image: url(/img/willing/icons/icon_post_en.png); }
html[lang=en] header .action a.bt_post.active { background-image: url(/img/willing/icons/icon_post_en_on.png); }
header .bt_menu {
  cursor:pointer;
}
header .action a:first-child {
  margin-left: 0;
}
header .action a.bt_community { background-image: url(/img/willing/icons/icon_community.png); }
header .action a.bt_community.active { background-image: url(/img/willing/icons/icon_community_on.png); }
html[lang=en] header .action a.bt_community { background-image: url(/img/willing/icons/icon_community_en.png); }
html[lang=en] header .action a.bt_community.active { background-image: url(/img/willing/icons/icon_community_en_on.png); }
header a.bt_menu {
  background-image: url(/img/willing/icons/icon_menu.png);
}
header .search {
}
header .search input {
  display: block;
  line-height: 1.3em;
  padding: 6px 10px 6px 40px;
  font-size: 16px;
  background: url(/img/willing/icons/icon_search.png) no-repeat 0 center #f6f7f7;
  background-size: 40px 40px;
  border: 1px solid #9e9f9f;
  box-sizing: border-box;
}


.main .common_user {
    margin-bottom: 20px;
}

/** Information **/
.main .information {

}
.main .information h2 {
  font-size: 22px;
  font-weight: bold;  
}
.main .information > .inner {
  margin-top: 20px;
  /*
  max-height: 500px;
  overflow-y: auto;
  width: 1000px;*/
}
.main .information ul {
  display:flex;
  flex-wrap: wrap;
}
.main .information ul li {
  /*float: left;*/
  /*width: 306px;*/
  /*margin: 30px 0 0 21px;*/
  width: calc(94% / 3);
  width: -webkit-calc(94% / 3);
  margin-right:3%;
}
.main .information ul li:nth-child(3n){
  margin-right:0;
}
.main .information ul li:nth-child(n+4){
  margin-top:3%;
}
//.main .information ul li:nth-child(-n+3) {
//  margin-top: 0;
//}
//.main .information ul li:nth-child(3n-2) {
//  margin-left: 0;
//}
.main .information ul li a.post {
  display: block;
  padding: 3px;
}
.main .information a.post > .inner {
  background: url(/img/willing/icons/icon_event.png) no-repeat 15px center #fff;
  background-size: 60px 60px;
  padding: 24px 24px 24px 90px;
  min-height:155px;
}
.main .line_open_chat a.post > .inner {
  background: url(/img/willing/icons/icon_info_line_open_chat.png) no-repeat 20px center #fff;
  background-size: 50px auto;
  padding: 24px 24px 24px 90px;
  min-height:155px;
}

.main .information ul li.cat_tweet a.post,
#community article.cat_tweet,
.main .posts.information article.cat_tweet > a,
#information_detail article.cat_tweet {
  background: url(/img/willing/bg_pink.png) no-repeat center center;
  background-size: cover;
}
.main .posts.information article.general > a,
.main .information ul li.general a.post{
  background: url(/img/willing/bg_info.png) no-repeat center center;
  background-size: cover;
}
.main .information ul li.cat_invite a.post,
#community article.cat_invite,
.main .posts.information article.cat_invite > a,
#information_detail article.cat_invite {
  background: url(/img/willing/bg_blue.png) no-repeat center center;
  background-size: cover;
}
.main .information ul li.cat_ask a.post,
#community article.cat_ask,
.main .posts.information article.cat_ask > a,
#information_detail article.cat_ask {
  background: url(/img/willing/bg_purple.png) no-repeat center center;
  background-size: cover;
}
.main .information ul li.event a.post,
#community article.cat_event,
.main .posts.information article.cat_event > a,
.main .posts.information article.event > a,
#information_detail article.cat_event,
#information_detail article.event {
  background: url(/img/willing/bg_yellow.png) no-repeat center center;
  background-size: cover;
}
#album .posts .bg {
  background: url(/img/willing/bg_pink2.png) no-repeat center center;
  background-size: cover;
  margin-top: 20px;
}

.main .information article.line_open_chat a,
.main .information ul li.line_open_chat a.post{
  background: url(/img/willing/bg_info_line_open_chat.png) no-repeat center center;
  background-size: cover;
}

.main .information ul li.general a.post > .inner {
  background-image: url(/img/willing/icons/icon_info.png);
}
.main .information a.post .date {
  font-size: 19px;  
  font-weight: bold;
}
.main .information a.post .title {
  font-size: 19px;
  font-weight: bold;  
  margin-top: 10px;
}
.main .information a.post .excerpt {
  font-size: 14px; 
  line-height: 1.3em;
  margin-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.main .information a.author {
  display: block;
  margin-top: 10px;
}
.main .information a.author .photo {
  float: left;
  width: 35px;
  margin-right: 15px;
}
.main .information a.author .name {
  font-size: 17px;
  font-weight: bold;
  line-height: 35px;
}

.main .information .list_footer.author{
    padding-top: 10px;
}
.main .information .list_footer.author .photo_wrap{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
    float: left;
}
.main .information .list_footer.author .photo_wrap .photo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main .information .list_footer.author .name{
    font-weight: bold;
    line-height: 24px;
}

.main .information .list_footer.author .icon{
    height: 24px;
    text-align: left;
}
.main .information .list_footer.author .icon img{
    height: 100%;
    display: inline-block;
}

/** Album **/
.main .album {
  margin-top: 50px;
}
.main .album h2 {
  font-size: 22px;
  font-weight: bold;
}
.main .album ul.list1 {
  margin-top: 20px;
  overflow-y: auto;
  max-height:500px;
  -webkit-overflow-scrolling: touch;
}
.main .album ul.list1 > li {
  margin: 30px 0 0 0;
}
.main .album ul.list1 > li:nth-child(1) {
  margin-top: 0;
}
.main .album ul.list1 > li > a {
  display: block;
  padding: 3px;
  background: rgb(243,185,112);
  background: -moz-linear-gradient(left, rgba(243,185,112,1) 0%, rgba(255,70,171,1) 100%);
  background: -webkit-linear-gradient(left, rgba(243,185,112,1) 0%,rgba(255,70,171,1) 100%);
  background: linear-gradient(to right, rgba(243,185,112,1) 0%,rgba(255,70,171,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3b970', endColorstr='#ff46ab',GradientType=1 );
}
.main .album ul.list1 > li > a > .inner {
  background: url(/img/willing/icons/icon_album.png) no-repeat 22px 12px #fff;
  background-size: 60px 60px;
  padding: 30px 30px 30px 30px;
}

.main .album ul.list1 > li .title {
  float: left;
  padding-left: 70px;
  font-size: 22px;
  font-weight: bold;
}
.main .album ul.list1 > li .date {
  font-size: 14px;
  float: left;
  font-weight: normal;
  padding-left: 1em;
}
.main .album ul.list2 {
  margin-top: 30px;
  display:flex;
  display:-webkit-flex;
  flex-wrap:wrap;
  -webkit-flex-wrap:wrap;
}
.main .album ul.list2 > li {
  width:calc(94%/5);
  width:-webkit-calc(94%/5);
  margin-right:calc(6%/4);
  margin-right:-webkit-calc(6%/4);
  /*float: left;*/
  /*width: 161px;*/
  /*margin: 22px 0 0 22px;*/
}
.main .album ul.list2 > li:nth-child(5n){
  margin-right:0;
}
//.main .album ul.list2 > li:nth-child(-n+5) {
//  margin-top: 0;
//}
//.main .album ul.list2 > li:nth-child(5n-4) {
//  margin-left: 0;
//}
.main .album ul.list2 > li .thumb_img{
    background-size:cover;
    background-position:center center;
    width:100%;
    height:165px;
}


.main .information h2 a,
.main .album h2 a {
  display: inline-block;
  position: relative;
  font-weight: bold;
  padding-right: 40px;
}
.main .information h2 a::before,
.main .album h2 a::before {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #d4d4d5;
  border-right: 2px solid #d4d4d5;
  right: 0;
  transform: rotate(45deg);
  top: 5px;
}

/********************************************
 Intro
********************************************/
#start{
  padding: 0;
  height: 0;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1000000;
  background:#fff;
}
#start div{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 160px;
  margin: 0 0 0 -70px;
  margin-left: -80px;
  margin-top: -40px;
}

/********************************************
 Login
********************************************/
#login header {
  padding: 100px 0 50px 0;
}
#login header h1 {
  position: static;
  width: 160px;
  margin: 0 auto;
}
#login .form {
  width: 600px;
  margin: 0 auto;
}
#login input[type="text"],
#login input[type="password"] {
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 9px 30px;
  font-size: 17px;
  background: #f6f7f7;
  border: 1px solid #9e9f9f;
  box-sizing: border-box;
}
#login input.password {
  margin-top: 30px;
}
#login .bt_box {
  text-align: right;
}
#login .bt_forgot {
  font-size: 12px;
  color: #9e9f9f;
  margin-top: 5px;
}
#login .lang_box {
  text-align: center;
  margin: 35px 0 90px 0;
}
#login .lang_box a {
  display: inline-block;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background: #9e9f9f;
  color: #fff;
  margin: 0 50px;
}
#login .lang_box a.active {
  background: #231815;
}
#login input[type="submit"],
#login button {
  display: block;
  width: 100%;
  background: url(/img/willing/bg_gradient.png) no-repeat center center;
  background-size: cover;
  line-height: 68px;
  font-size: 22px;
  color: #fff;
  border: 1px solid #9e9f9f;
  box-sizing: border-box;
}

/* Error *****/
#login .error_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(4, 4, 4, 0.1);
  width: 100%;
  height: 100%;
  z-index: 1000000;
}
#login .error_wrap .error {
  position: absolute;
  width: 435px;
  height: 445px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#login .error_wrap .error .lead {
  margin-top: 150px;
  font-size: 22px;
  text-indent: 0.5em;
}
#login .error_wrap .error .note {
  margin-top: 70px;
  font-size: 14px;
  line-height: 1.8em
}

#login .error_wrap .error .bt_close {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  text-indent: -9999px;
  overflow: hidden;
}

#login .error_wrap .error .bt_close::before,
#login .error_wrap .error .bt_close::after {
  display: block;
  position: absolute;
  content: "";
  width: 36px;
  height: 1px;
  background: #949494;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
#login .error_wrap .error .bt_close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/********************************************
 Welcome
********************************************/
#welcome header {
  padding: 0;
  height: 0;
}
#welcome header h1 {
  top: 50%;
  width: 160px;
  margin-left: -80px;
  margin-top: -40px;
  z-index: 1000;
}
#welcome .main {
  position: absolute;
  padding: 0;
  max-width: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#welcome .main > .inner {
  background: url(/img/willing/bg_gradient.png) no-repeat center center;
  background-size: 100% 100%;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  margin: 27px 0 0 27px;
  padding: 3px;
}
#welcome .main > .inner a {
  display: block;
  background: #fff;
   width: 100%;
  height: 100%;
}
#welcome .main > .inner a:hover {
  opacity: 1;
}
#welcome .lead {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  text-align: center;
  margin-top: -100px;
  font-size: 18px;
}
#welcome .label {
  position: absolute;
  bottom: 15%;
  width: 100%;
  left: 50%;
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
  width: 300px;
  padding: 30px 0 70px 0;
  margin-left: -150px;
}
#welcome .label::before {
  display: block;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-top: 1px solid #949494;
  border-right: 1px solid #949494;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%) rotate(135deg);
}
/********************************************
 Profile
********************************************/
#profile .main {
  padding-top: 0;
}
#profile .content_header {
  margin-bottom: 60px;
}

#profile .title {
  font-size: 22px;
  float: left;
} 
#profile .bt_back {
  float: right;
  display: block;
  font-size: 17px;
  border: 1px solid #000;
  text-align: center;
  line-height: 63px;
  width: 200px;
  margin-top: -20px;
}
#profile .form .photo {
  position: relative;
  width: 160px;
  margin: 0 auto 60px auto;
}
#profile .form .photo a,
#profile .form .photo a img {
  display: block;
}
#profile .form .photo span.plus {
  position: absolute;
  display: block;
  background: #fff;
  width: 38px;
  height: 38px;
  border: 1px solid #949494;
  border-radius: 100px;
  bottom: 5px;
  right: 5px;

  cursor: pointer;
}
#profile .form .photo span.plus::before,
#profile .form .photo span.plus::after {
  display: block;
  position: absolute;
  content: "";
  width: 18px;
  height: 1px;
  background: #949494;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0);
}
#profile .form .photo span.plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
#profile .form table {
  width: 850px;
  margin: 0 auto;
}
#profile .form table th {
  width: 245px;
  padding: 15px 0;
  vertical-align: middle;
}
#profile .form table th span {
  color: #e50012;
}
#profile .form table td {
  width: 605px;
  font-size: 19px;
  padding: 15px 0;
}

#profile input[type="text"] {
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 9px 30px;
  font-size: 17px;
  background: #f6f7f7;
  border: 1px solid #9e9f9f;
  box-sizing: border-box;
}
#profile input.password {
  margin-top: 30px;
}
#profile textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  padding: 30px;
  height: 200px;
  background: #f6f7f7;
  border: 1px solid #9e9f9f;
  box-sizing: border-box;
}
#profile input[type="submit"],
#profile button {
  display: block;
  width: 360px;
  background: url(/img/willing/bg_gradient_frame.png) no-repeat center center;
  background-size: cover;
  line-height: 70px;
  font-size: 22px;
  box-sizing: border-box;
  margin: 80px auto 0 auto;
}

/********************************************
 Post
********************************************/
#post .tab {
  margin-bottom: 50px;
  text-align: center;
}
#post .tab a {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(/img/willing/icons/icon_tweet_off.png) no-repeat center 10px;
  background-size: 60px 60px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 65px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 60px;
}
#post .tab a.tweet { background-image: url(/img/willing/icons/icon_tweet_off.png); }
#post .tab a.invite { background-image: url(/img/willing/icons/icon_invite_off.png); }
#post .tab a.ask { background-image: url(/img/willing/icons/icon_ask_off.png); }
#post .tab a.event { background-image: url(/img/willing/icons/icon_event_off.png); }
#post .tab a.tweet.active { background-image: url(/img/willing/icons/icon_tweet.png); }
#post .tab a.invite.active { background-image: url(/img/willing/icons/icon_invite.png); }
#post .tab a.ask.active { background-image: url(/img/willing/icons/icon_ask.png); }
#post .tab a.event.active { background-image: url(/img/willing/icons/icon_event.png); }

#post .tab_inner {

}
#post .tab_inner section {
  //background: url(/img/willing/bg_pink.png) no-repeat center center;
  background-size: cover;
  padding: 60px 80px;
}
/*
#post .tab_inner section.active {
  display: block;
}
*/

#post .tab_inner section.tweet {
  background-image: url(/img/willing/bg_pink.png);
}
#post .tab_inner section.invite {
  background-image: url(/img/willing/bg_blue.png);
}
#post .tab_inner section.ask {
  background-image: url(/img/willing/bg_purple.png);
}
#post .tab_inner section.event {
  background-image: url(/img/willing/bg_yellow.png);

}
#post .tab_inner section textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding: 30px;
  height: 360px;
}
#post .tab_inner section .bt_box {
  text-align: center;
  height: 66px;
  margin-top: 30px;
}
#post .tab_inner section .bt_box .bt_upload {
  display: inline-block;
  width: 430px;
  background: url(/img/willing/icons/icon_upload.png) no-repeat 80% center;
  background-size: 60px 60px;
  background-color: rgba(35, 24, 21, 0.5);
  line-height: 66px;
  font-size: 17px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 60px;
  cursor: pointer;
}
#post .tab_inner section .bt_box .bt_camera {
  width: 100px;
  text-indent: -9999px;
  background-image: url(/img/willing/icons/icon_camera.png);
  background-position: center center;
  margin-left: 25px;
}
#post .tab_inner section input[type="submit"],
#post .tab_inner section button {
  display: block;
  width: 240px;
  background: #231815;
  line-height: 66px;
  font-size: 17px;
  letter-spacing: 1em;
  text-indent: 1em;
  color: #fff;
  box-sizing: border-box;
  margin-top: 30px;
}
#post .send_button_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/********************************************
 Community
********************************************/
//#community header .bt_menu,
//#community header .action {
//  margin-top: -5px;
//}
#community .tab {
  margin-bottom: 50px;
  text-align: center;
  height: 80px;
}
#community .tab a {
  display: inline-block;
  width: 100px;
  height: 80px;
  background: url(/img/willing/icons/icon_tweet_off.png) no-repeat center center;
  background-size: 60px 60px;
  box-sizing: border-box;
  margin: 0 60px;
  text-indent: -9999px;
  overflow: hidden;
}
#community .tab a.tweet { background-image: url(/img/willing/icons/icon_tweet_off.png); }
#community .tab a.invite { background-image: url(/img/willing/icons/icon_invite_off.png); }
#community .tab a.ask { background-image: url(/img/willing/icons/icon_ask_off.png); }
#community .tab a.event { background-image: url(/img/willing/icons/icon_event_off.png); }
#community .tab a.tweet.active { background-image: url(/img/willing/icons/icon_tweet.png); }
#community .tab a.invite.active { background-image: url(/img/willing/icons/icon_invite.png); }
#community .tab a.ask.active { background-image: url(/img/willing/icons/icon_ask.png); }
#community .tab a.event.active { background-image: url(/img/willing/icons/icon_event.png); }

#community .posts {
  width: 580px;
  margin: 0 auto;
}
#community article {
  padding: 3px;
  margin-top: 40px;
}
#community article:first-child {
  margin-top: 0;
}
#community article > .inner {
  background: url(/img/willing/icons/icon_tweet_off.png) no-repeat center 35px #fff;;
  background-size: 90px 90px;
  padding: 130px 30px 30px 30px;
}
#community article.cat_tweet > .inner { background-image: url(/img/willing/icons/icon_tweet.png); }
#community article.cat_invite > .inner { background-image: url(/img/willing/icons/icon_invite.png); }
#community article.cat_ask > .inner { background-image: url(/img/willing/icons/icon_ask.png); }
#community article.cat_event > .inner { background-image: url(/img/willing/icons/icon_event.png); }

#community article .article_header .author {
  float: left;
  width: 446px;
  display: block;
  padding: 5px 0;
}
#community article .article_header .author .photo_wrap {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  padding:2px;
  float: left;
  overflow: hidden;
  margin-right: 15px;
}
#community article .article_header .author .photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
#community article .article_header .author .building {
    height: 20px;
    font-size: 16px;
    text-align: right;
    line-height: 1.2;
}
#community article .article_header .author .building .icon{
    height: 100%;
    display: inline-block;
}
#community article .article_header .author .name {
    font-size: 27px;
    font-weight: bold;
}
#community article .article_header .author .date {
   font-size: 16px;
   margin-top: 3px;
}
#album .album_inner .overview{
    margin-bottom:20px;
}
#album .album_inner .overview .ttl{
    float:left;
    font-size:22px;
    font-weight:bold;
    line-height:40px;
}
#album .album_inner .overview .date{
    float:left;
    font-size:14px;
    line-height:40px;
    padding-left:1em;
}
#album .album_inner .post_menu_wrap,
#community article .article_header .post_menu_wrap{
  float: right;
  position:relative;
}
#album .album_inner .bt_other,
#community article .article_header .bt_other {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/img/willing/icons/icon_other.png) no-repeat center center #fff;
  background-size: 40px 40px;
  height: 44px;
  width: 44px;
  margin: 19px 0 0 0;
  cursor:pointer;
}
#album .album_inner .bt_other{
    margin:0;
}
#community article .content {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#community article .content img {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
#community article .article_footer {
  margin-top: 20px;
}
#community article .article_footer .bt_box {
}
#community article .article_footer .bt_box a {
  display: block;
  float: left;
  background: url(/img/willing/icons/icon_like2.png) no-repeat 95% center #fff;
  background-size: 36px 36px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 40px 0 0;
}
#community article .article_footer .bt_box a.active {
  background: url(/img/willing/icons/icon_like2_on.png) no-repeat 95% center #fff;
  background-size: 36px 36px;

}
#community article .article_footer .bt_box a.bt_event {
  background: url(/img/willing/icons/icon_join.png) no-repeat 95% center #fff;
  background-size: 36px 36px;
}
#community article .article_footer .bt_box a.bt_event.active {
  background: url(/img/willing/icons/icon_join_on.png) no-repeat 95% center #fff;
  background-size: 36px 36px;
}
#community article .article_footer .bt_box .bt_comment {
  margin-left: 15px;
  background-image: url(/img/willing/icons/icon_comment.png);
}
#community article .article_footer .bt_box .comment_count {
    color: #b4b5b5;
    line-height: 40px;
    font-size: 16px;
}
#community article .article_footer .bt_box .favorite {
  background: url(/img/willing/icons/icon_favorite2.png) no-repeat left center #fff;
  background-size: 30px 30px;
  float: right;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  padding-left: 35px;
  cursor: pointer;
}
#community article .article_footer .bt_box .favorite.event {
  background: url(/img/willing/icons/icon_join.png) no-repeat left center #fff;
  background-size: 30px 30px;
}
#community article .article_footer .comment {
  margin-top: 10px; 
}

#community article .article_footer .comment .comment_preview{
    font-size: 16px;
    margin-bottom: 1em;
}
#community article .article_footer .comment .comment_preview .name{
    font-weight: bold;
    margin-right:.5em;
}
#community article .article_footer .comment .comment_preview .more{
    font-size: small;
    color: #b4b5b5;
}
#community article .article_footer .comment .photo_wrap {
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding:2px;
  margin-right: 15px;
}
#community article .article_footer .comment .photo {
  width:100%;
  height:100%;
  border-radius: 50%;
  background-size:cover;
  background-position:center center;
}
#community article .article_footer .comment input {
  display: block;
  width: 450px;
  line-height: 1.3em;
  padding: 11px 15px;
  font-size: 16px;
  background: #f6f7f7;
  border: 1px solid #9e9f9f;
  box-sizing: border-box;
  cursor: pointer;
}


/********************************************
 Information
********************************************/
#information header .bt_menu,
#information header .action {
  margin-top: -5px;
}

.information .tab{
    display: flex;
    justify-content: space-between;
}
.information .tab li{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.information .tab li a{
    display: inline-block;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.information .tab li.type_general{ background-image: url(/img/willing/tab/info_general.png); }
.information .tab li.type_event{ background-image: url(/img/willing/tab/info_event.png); }
.information .tab li.type_chat{ background-image: url(/img/willing/tab/info_chat.png); }
.information .tab li.type_general:hover,
.information .tab li.type_general.active{
    background-image: url(/img/willing/tab/info_general_active.png);
}
.information .tab li.type_event:hover,
.information .tab li.type_event.active{
    background-image: url(/img/willing/tab/info_event_active.png);
}
.information .tab li.type_chat:hover,
.information .tab li.type_chat.active{
    background-image: url(/img/willing/tab/info_chat_active.png);
}

.main .posts.information {
  width: 580px;
  margin: 0 auto;
}
.main .posts.information article {
  margin-top: 40px;
}
.main .posts.information article:first-child {
  margin-top: 0;
}
.main .posts.information article > a {
  display: block;
  padding: 3px;
}
.main .posts.information article > a > .inner {
  background: url(/img/willing/icons/icon_tweet.png) no-repeat 19px center #fff;
  background-size: 60px 60px;
  padding: 20px 30px 28px 100px;
}
.main .posts.information article.general > a > .inner {
  background-image: url(/img/willing/icons/icon_info.png);
  background-size: 50px 50px;
  background-position: 25px center;
}
.main .posts.information article.cat_tweet > a > .inner { background-image: url(/img/willing/icons/icon_tweet.png); }
.main .posts.information article.cat_invite > a > .inner { background-image: url(/img/willing/icons/icon_invite.png); }
.main .posts.information article.cat_ask > a > .inner { background-image: url(/img/willing/icons/icon_ask.png); }
.main .posts.information article.cat_event > a > .inner { background-image: url(/img/willing/icons/icon_event.png); }

.main .posts.information article.event > a > .inner { background-image: url(/img/willing/icons/icon_event.png); }
.main .posts.information article.line_open_chat > a > .inner {
  background-image: url(/img/willing/icons/icon_info_line_open_chat.png);
  background-size: 50px auto;
  background-position: 25px center;
}

.main .posts.information article .article_header .icon{
    height: 20px;
    text-align: right;
}
.main .posts.information article .article_header .icon img{
    height: 100%;
    display: inline-block;
}
.main .posts.information article .article_header .author {
  float: left;
  width: 390px;
  display: block;
  padding: 5px 0;
}
.main .posts.information article .article_header .author .photo {
  float: left;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px;
}
.main .posts.information article .article_header .author .name {
   font-size: 27px;
   margin-top: 12px;
   font-weight: bold;
}
.main .posts.information article .article_header .author .date {
   font-size: 16px;
   margin-top: 3px;
}
.main .posts.information article .article_header .attachment {
  display: block;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/img/willing/icons/icon_attachment.png) no-repeat center center #fff;
  background-size: 40px 40px;
  height: 44px;
  width: 44px;
  margin: 19px 0 0 0;
}
.main .posts.information article .content {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.3em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


/********************************************
 Information Detail
********************************************/
#information_detail .main {
  max-width: none;
  height: 100%;
  padding-bottom: 0;
}
#information_detail .post {
  height: 100%;
  margin: 0 auto;
}
#information_detail .post > .bt_box {
  max-width: 960px;
  margin: 0 auto 20px;
}
#information_detail .post > .bt_box a {
  display: inline-block;
  position: relative;
  font-size: 22px;
  font-weight: bold;
  padding-left: 40px;
}
#information_detail .post > .bt_box a::before {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  left: 0;
  transform: rotate(-135deg);
  top: 5px;
}
#information_detail article {
  min-height: 100%;
  padding: 50px 0 50px 0;
  //margin-top: 20px;
  box-sizing:border-box;
}
#information_detail article.general {
  background: url(/img/willing/bg_info.png) no-repeat center center;
  background-size: cover;
}
#information_detail article.line_open_chat {
  background: url(/img/willing/bg_info_line_open_chat.png) no-repeat center center;
  background-size: cover;
}
#information_detail article:first-child {
  margin-top: 0;
}
#information_detail article > .inner {
  width: 574px;
  margin: 0 auto;
  background: url(/img/willing/icons/icon_tweet_off.png) no-repeat center 35px #fff;
  background-size: 90px 90px;
  padding: 130px 30px 30px 30px;
}
#information_detail article.cat_tweet > .inner { background-image: url(/img/willing/icons/icon_tweet.png); }
#information_detail article.cat_invite > .inner { background-image: url(/img/willing/icons/icon_invite.png); }
#information_detail article.cat_ask > .inner { background-image: url(/img/willing/icons/icon_ask.png); }

#information_detail article.general > .inner { background-image: url(/img/willing/icons/icon_info.png); }
#information_detail article.event > .inner{ background-image: url(/img/willing/icons/icon_event.png); }
#information_detail article.line_open_chat > .inner {
    background-image: url(/img/willing/icons/icon_info_line_open_chat.png);
    background-size: auto 90px;
}

#information_detail article .article_header .author {
  float: left;
  width: 446px;
  display: block;
  padding: 5px 0;
}
#information article .article_header .author .photo_wrap,
#information_detail article .article_header .author .photo_wrap {
  float: left;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 15px;
  padding:2px;
}
#information article .article_header .author .photo_wrap .photo,
#information_detail article .article_header .author .photo_wrap .photo{
  width:100%;
  height:100%;
  border-radius: 50%;
  background-size:cover;
  background-position:center center;
}
#information_detail article .article_header .icon{
    height: 20px;
    text-align: right;
}
#information_detail article .article_header .icon img{
    height: 100%;
    display: inline-block;
}

#information_detail article .article_header .author .name {
   font-size: 27px;
   margin-top: 12px;
   font-weight: bold;
}
#information_detail article .article_header .author .date {
   font-size: 16px;
   margin-top: 3px;
}
#information_detail article .article_header .bt_other {
  display: block;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/img/willing/icons/icon_other.png) no-repeat center center #fff;
  background-size: 40px 40px;
  height: 44px;
  width: 44px;
  margin: 19px 0 0 0;
}
#information_detail article .content {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#information_detail article .content img {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
#information_detail article .article_footer {
  margin-top: 20px;
}
#information_detail article .article_footer .bt_box {
}
#information_detail article .article_footer .bt_box a {
  display: block;
  float: left;
  background: url(/img/willing/icons/icon_like2.png) no-repeat 95% center #fff;
  background-size: 36px 36px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 40px 0 0;
}
#information_detail article .article_footer .bt_box a.active {
  background: url(/img/willing/icons/icon_like2_on.png) no-repeat 95% center #fff;
  background-size: 36px 36px;
}
#information_detail article .article_footer .bt_box a.join {
  background: url(/img/willing/icons/icon_join.png) no-repeat 95% center #fff;
  background-size: 36px 36px;
}
#information_detail article .article_footer .bt_box a.join.active {
  background: url(/img/willing/icons/icon_join_on.png) no-repeat 95% center #fff;
  background-size: 36px 36px;
}
#information_detail article .article_footer .bt_box .bt_comment {
  margin-left: 15px;
  background-image: url(/img/willing/icons/icon_comment.png);
}
#information_detail article .article_footer .bt_box .comment_count {
    color: #b4b5b5;
    line-height: 40px;
    font-size: 16px;
}

#information_detail article .article_footer .bt_box .favorite {
  background: url(/img/willing/icons/icon_favorite2.png) no-repeat left center #fff;
  background-size: 30px 30px;
  float: right;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  padding-left: 35px;
  cursor: pointer;
}
#information_detail article .article_footer .bt_box .favorite.event {
  background: url(/img/willing/icons/icon_join.png) no-repeat left center #fff;
  background-size: 30px 30px;
}

#information_detail article .article_footer .bt_box .favorite .count{
    font-weight: inherit;
}
#information_detail article .article_footer .comment {
  margin-top: 10px; 
}

#information_detail article .article_footer .comment .comment_preview{
    font-size: 16px;
    margin-bottom: 1em;
}
#information_detail article .article_footer .comment .comment_preview .name{
    font-weight: bold;
    margin-right:.5em;
}
#information_detail article .article_footer .comment .comment_preview .more{
    font-size: small;
    color: #b4b5b5;
}
#information_detail article .article_footer .comment .photo_wrap {
  float: left;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}
#information_detail article .article_footer .comment .photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#information_detail article .article_footer .comment input {
  display: block;
  width: 450px;
  line-height: 1.3em;
  padding: 11px 15px;
  font-size: 16px;
  background: #f6f7f7;
  border: 1px solid #9e9f9f;
  box-sizing: border-box;
  cursor: pointer;
}

/********************************************
 Album
********************************************/
#album .main {
  max-width: none;
  padding-bottom: 0;
}
#album .post {
  margin: 0 auto;
}
#album .posts > .bt_box {
  max-width: 960px;
  margin: 0 auto;
}
#album .posts > .bt_box a {
  display: inline-block;
  position: relative;
  font-size: 22px;
  font-weight: bold;
  padding-left: 40px;
}
#album .posts > .bt_box a::before {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  left: 0;
  transform: rotate(-135deg);
  top: 5px;
}
#album .posts .bg {
  padding: 50px 0 50px 0;

}
#album .posts .bg > .inner {
  width: 960px;
  margin: 0 auto;
}
#album article {
  float: left;
  width: 460px;
  background: #fff;
  margin: 30px 0 0 40px;
  padding: 22px 22px 5px 22px;
  box-sizing: border-box;
}
#album article:nth-child(-n+2) {
  margin-top: 0;
}
#album article:nth-child(2n+1) {
  margin-left: 0;
  clear: both;
}
#album article .article_header {
  margin-bottom: 18px;
  padding: 3px 0;
}
#album article .article_header .title {
  font-size: 22px;
  font-weight:bold;
  padding: 0 10px;
  float: left;
  line-height: 30px;
}
#album article .article_header .num {
  font-size: 14px;
  line-height: 30px;
  color: #9e9f9f;
}
#album article .list {
  
}
#album article .list li {
   float: left;
   width: 125px;
   margin: 20px 0 0 20px; 
}

#album article .list li:nth-child(-n+3) {
  margin-top: 0;
}
#album article .list li:nth-child(3n-2) {
  margin-left: 0;
}
#album article .bt_other {
  display: block;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/img/willing/icons/icon_other.png) no-repeat center center #fff;
  background-size: 40px 40px;
  height: 44px;
  width: 44px;
  margin: 5px 0 0 0;
}
#album .album_inner{
    background:#fff;
    padding:20px;
}
#album .album_inner #img_area{
    width:80%;
    margin:0 auto 50px;
}

#album .album_inner .thumb li{
    box-sizing: border-box;
    height: 106px;
    background: url(/img/willing/bg_gradient2.png) no-repeat center;
    background-size: cover;
}
#album .album_inner .thumb li.active{
    padding: 2px;
}
#album .inner .thumb_img,
#album .album_inner .thumb .thumb_img{
    width: 100%;
    height:100%;
    background-size:cover;
    background-position:center center;
}

#album .inner .thumb_img{
    height:125px;
}
#album .album_inner .thumb ul li img,
#album .album_inner #img_area img{
    max-width:100%;
    height:auto;
    margin: 0 auto;
}
#album .album_inner .thumb ul{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    margin:0 auto;
}
#album .album_inner .thumb ul li{
    width:calc( 90% / 7 );
    width:-webkit-calc( 90% / 7 );
    margin-right:calc( 10% / 6 );
    margin-right:-webkit-calc( 10% / 6 );
    cursor:pointer;
}
#album .album_inner .thumb ul li:nth-child(7n){
    margin-right:0;
}
#album .album_inner .thumb ul li:nth-child(n+8){
    margin-top:20px;
}



/********************************************
 Comment
********************************************/
#comment .comments {
  padding: 70px 0;
}
#comment .list1 {
  width: 815px;
  margin: 0 auto 0 auto;
}
#comment .list2 {
  margin-left: 90px;
}
#comment .list1 > li {
  margin-top: 60px;
}
#comment .list2 > li {
  margin-top: 30px;
}
#comment .list1 > li:first-child {
  margin-top: 0;
}
#comment .list1 li > .inner {
  position: relative;
}
#comment .list1 li > .inner.active {
    background: #e8e8e8;
}
#comment .list1 li .author {
  display: inline-block;
}
#comment .list1 li .photo_wrap {
  float:left;
  width: 73px;
  height: 73px;
  border-radius:50%;
  padding:2px;
}
#comment .list1 li .photo {
  width: 100%;
  height: 100%;
  border-radius:50%;
  background-size:cover;
  background-position:center center;
}
#comment .list2 li .photo_wrap{
  width:60px;
  height:60px;
}
#comment .list2 li .photo {
  width: 100%;
  height: 100%;
  border-radius:50%;
  background-size:cover;
  background-position:center center;
}
#comment .list1 li .line {
  margin-left: 90px;
  font-size: 27px;
  padding: 2px 40px 5px 0;
  /*
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  */
  line-height: 1.4;
}
#comment .list2 li .line {
  font-size: 22px;
}
#comment .list2 li .line2 {
  font-size: 22px;
  padding: 7px 40px 8px 0;
}
#comment .list1 li .line .name {
  display: inline;
  font-weight: bold;
  margin-right: 20px;
}
#comment .list1 li .line .title {
  display: inline;
    word-wrap: break-word;
}
#comment .list1 li .line .target {
  display: inline;
  color: #076fb7;
}
#comment .list1 li .info {
  margin-left: 90px;  
}
#comment .list1 li .info .date,
#comment .list1 li .info .like {
  display: inline;
  font-size: 16px;
  color: #b4b5b5;
  margin-right: 10px;
}
#comment .list1 li .info .bt_reply {
  display: inline;
  font-size: 16px;
  color: #9e9f9f;
}
#comment .list1 li .bt_like {
  position: absolute;
  right: -8px;
  top: 5px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 42px;
  height: 42px;
  float: left;
  /*background: url(/img/willing/icons/icon_favorite2.png) no-repeat center center;*/
  background-image: url(/img/willing/icons/icon_like2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 36px;
  margin-left: 15px;
}

#comment .list1 li .bt_like.active {
    background-image: url(/img/willing/icons/icon_like2_on.png);
}

#comment .list1 li.post {
  
}
#comment .list1 li.post .photo_wrap {
  margin-top:20px;
  width: 73px;
  height: 73px;
  border-radius:50%;
  padding:2px;
}
#comment .list1 li.post .photo {
  width:100%;
  height:100%;
  border-radius:50%;
  background-size:cover;
  background-position:center center;
}
#comment .list1 li.post .input_box {
  margin-left: 90px;
  background: url(/img/willing/bg_gradient2.png) no-repeat center center;
  background-size: 100% 100%;
  padding: 3px;

  display: flex;
}
#comment .list1 li.post .input_box textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  padding: 15px;
  min-height: 100px;
  background: #f6f7f7;
  resize: none;
}

#comment .list1 li.post .input_box button[name=complete] {
   width: 18%;
   color: #3897f0;
}
#comment .list1 li.post .input_box button[name=complete]:disabled {
    opacity: .7;
}



/********************************************
 Like
********************************************/
#like .likes {
  margin-top: 40px;
  padding: 20px 0;
}
#like .likes:first-child {
  margin-top: 0;
}
#like .likes h2 {
  font-size: 22px;
  font-weight: bold;
}
#like .list {
  width: 580px;
  margin: 50px auto 50px auto;
}
#like .list li {
  margin-top: 40px;
}
#like .list li:first-child {
  margin-top: 0;
}
#like .list li a {
  display: block;
  position: relative;
}

#like .list li .left{
    float:left;
}
#like .list li .right{
    float:right;
}
#like .list li .right a{
  background: url(../images/icons/icon_tweet_off.png) no-repeat right center #fff;;
  background-size: 60px 60px;
  display:block;
  width:73px;
  height:73px;

}
#like .list li.cat_tweet .right a { background-image: url(/img/willing/icons/icon_tweet.png); }
#like .list li.cat_invite .right a { background-image: url(/img/willing/icons/icon_invite.png); }
#like .list li.cat_ask .right a { background-image: url(/img/willing/icons/icon_ask.png); }
#like .list li.cat_event .right a { background-image: url(/img/willing/icons/icon_event.png); }

#like .list li .photo_wrap {
  float: left;
  width: 73px;
  height: 73px;
  border-radius:50%;
  padding:2px;
}
#like .list li .photo_wrap .photo{
    width:100%;
    height:100%;
    border-radius:50%;
    background-position:center center;
    background-size:cover;
}
#like .list li.double .photo {
  width: 60px;
}
#like .list li.double .photo img:nth-child(2) {
  position: relative;
  left: 8px;
  top: -28px;
  border: 2px solid #fff;
  border-radius: 100px;
}

#like .list li .line {
  width: 375px;
  margin-left: 90px;
  font-size: 27px;
  padding: 2px 40px 2px 0;
}
#like .list li .line2 {
  padding-top: 5px;
}
#like .list li .line .name {
    width: 80%;
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
#like .list li .line .txt {
    display: inline;
    font-size: 17px;
    vertical-align: bottom;
}
#like .list li .info {
  margin-left: 90px;  
}
#like .list li .info .date {
  /*display: inline;*/
  font-size: 16px;
  margin-right: 10px;
  color: #b4b5b5;
}
#like .list li .info .txt {
  display: inline;
  font-size: 16px;
}




/********************************************
 Message
********************************************/
#message header .bt_menu,
#message header .action {
/*  margin-top: -5px; */
}
#message .posts {
}
#message .list li {
  border-bottom: 2px solid #c9c9ca;
}
#message .list li a {
  display: block;
  padding: 25px 70px;  
}
#message .list li .photo_wrap {
  float: left;
  width: 73px;
  height: 73px;
  border-radius:50%;
  padding:2px;
}
#message .list li .photo {
  width: 100%;
  height: 100%;
  border-radius:50%;
  background-size:cover;
  background-position:center center;
}
#message .list li .line {
  margin-left: 100px;
  font-size: 27px;
  line-height: 73px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#message .list li .line .name {
  display: inline;
  font-weight: bold;
  margin-right: 20px;
}
#message .list li .line .unread{
  display: inline;
  float: right;
  font-weight: bold;
  margin-right: 20px;
  color: #428bca;
}


/********************************************
 Message Detail
********************************************/
#message_detail header{
    max-width:unset;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 8000;
}
#message_detail .main{
    padding-top:240px;
    padding-bottom:0;
}

#message_detail #chat_detail_head{
    position: fixed;
    top: 125px;
    width: 960px;
    height: 95px;
    padding: 10px 50px;
    background: #fff;
}
#message_detail .bt_back {
    display: block;
    width: 50px;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
#message_detail .bt_back::before {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  left: 5px;
  transform: rotate(-135deg);
  top: 40px;
}
#message_detail .profile .photo_wrap{
  float:left;
  width: 73px;
  height: 73px;
  border-radius:50%;
  padding:2px;
}
#message_detail .profile .photo {
  width:  100%;
  height: 100%;
  display: block;
  border-radius:50%;
  background-size:cover;
  background-position:center center;
}
#message_detail .profile .line {
  margin-left: 100px;
  font-size: 27px;
  line-height: 73px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#message_detail .profile .line .name {
  display: inline;
  font-weight: bold;
  margin-right: 20px;
}
#message_detail .posts {
  /*overflow-y: auto;*/
  height:100%;
//  padding-top:75px;
  padding-bottom:120px;
}
#message_detail .posts .time {
  text-align: center;
  font-size: 16px;
  color: #9e9f9f;
  padding: 15px 0;
}
#message_detail .posts .right p.file,
#message_detail .posts .left p.file {
  max-width: 400px;
  max-height: 400px;
  /*
  min-width: 200px;
  min-height: 200px;
  */
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  background-color:#fff;
}
#message_detail .posts .right .file img,
#message_detail .posts .left .file img{
  display:inline-block;
  border-radius:6px;
  width:auto;
  height:auto;
  max-width:250px;
  max-height:300px;
}
#message_detail .posts .right {
  text-align: right;
  margin-bottom: 30px;
  margin-right: 30px;
}
#message_detail .posts .right::after,
#message_detail .posts .left::after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#message_detail .posts .right p {
  float: right;
  background: #009fe8;
  max-width: 600px;
  padding: 25px 28px;
  border-radius: 20px 20px 0 20px;
  color: #fff;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#message_detail .posts .left {
  margin-bottom: 30px;
}
#message_detail .posts .left .photo_wrap {
  float: left;
  width: 73px;
  height: 73px;
  display: block;
  border-radius:50%;
  padding:2px;
}
#message_detail .posts .left .photo {
  width:100%;
  height:100%;
  border-radius:50%;
  background-size:cover;
  background-position:center center;
}
#message_detail .posts .left p {
  float: left;
  background: #ecefef;
  max-width: 600px;
  padding: 25px 28px;
  border-radius: 0 20px 20px 20px;
  margin-left: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#message_detail .posts .left.nophoto p {
  margin-left: 93px;
}

#message_detail .box_wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:9000;
}
#message_detail .box_inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
} 
#message_detail .input_box {
  display: inline-block;
  width: calc(100% - 96px);
  background: url(/img/willing/bg_gradient2.png) no-repeat center center;
  background-size: 100% 100%;
  padding: 3px;
  vertical-align: middle;
}
#message_detail .input_box textarea{
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 17px;
  padding: 15px 20px;
  background: #f6f7f7;
  resize: none;
}
#message_detail #files {
  display: none;
}
#message_detail .bt_camera {
  display: inline-block;
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: url(/img/willing/icons/icon_camera2.png) no-repeat center -2px;
  background-size: 60px 60px;
  vertical-align: middle;
  cursor: pointer;
}
#message_detail .bt_camera:hover {
  opacity: .8;
}
#message_detail .notes {
  display:inline-block;
  font-size:80%;
}


/********************************************
 Mypage
********************************************/
#mypage article .article_header .attachment {
  margin-top: 0;
}
#mypage .main .userdata {
  margin: 0 auto 50px auto;
  padding: 5px 0;
  width: 580px;
}
#profile .photo_wrap,
#mypage .main .userdata .photo_wrap{
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  padding:3px;
}
#profile .photo_wrap{
    float:none;
    position:relative;
    cursor: pointer;
}
#profile .user_photo,
#mypage .main .userdata .photo {
  width:100%;
  height:100%;
  border-radius: 50%;
  overflow: hidden;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}
#mypage .main .userdata .name {
   font-size: 24px;
   margin-top: 25px;
   font-weight: bold;
   margin-left: 220px;
}
#mypage .main .userdata .profile {
   font-size: 14px;
   margin-top: 1px;
   line-height: 1.3em;
   margin-left: 220px;
}
#mypage .main .userdata .building{
    height: 20px;
    margin-bottom: 2px;
    display: inline-block;
}
#mypage .main .userdata .building .icon{
    height: 100%;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
}
#mypage .main .userdata .university{
    margin-bottom: 6px;
    
}

#mypage .main .userdata  .send_message{
    margin-left: 10px;
    margin-right: 2px;
}
#mypage .main .userdata  .send_message .icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url( /img/willing/icons/icon_message_on.png) no-repeat center;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}


/* menu */
.menu_bg{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#menu{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    box-sizing: border-box;
    overflow: auto;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    background:#fff;
    -webkit-overflow-scrolling: touch;
}
#menu.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
}
#menu nav{
    display:block;
    width:250px;
    padding:30px 0 30px 2rem;
}
#menu nav ul li{
    border-bottom: 1px solid #e0e0e0;
}
#menu nav ul li a{
    display:block;
    padding:10px;
}

/*投稿サブメニュー*/
.report_menu,
.post_menu{
}
#album .post_menu{
    top:30px;
}
.report_menu{
    display: none;
}
#album .report_menu,
#album .post_menu{
}
.report_menu .inner,
.post_menu .inner{
    background:#fff;
    width:100%;
    height:100%;
}
.report_menu ul li:not(:last-child),
.post_menu ul li:not(:last-child){
    border-bottom: 1px solid #e0e0e0;
}

.report_menu ul li a,
.post_menu ul li a{
    display:block;
    padding:10px;
}
.report_menu ul li.report a,
.post_menu ul li.report a{
    color:#f00;
}

/*起動画面*/
#start{ }

.modal_wrap{
    display:none;
    position:fixed;
    z-index:10000;
    width:300px;
    height: 180px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.modal_wrap.open{
    display: block;
}
.modal_content{
    background: url(/img/willing/bg_gradient2.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 3px;
}

.modal_content .inner{
    padding: 20px;
    background:#fff;
    box-sizing: border-box;
}
.modal_bg{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*荷物受け取り*/
#gift_modal p{
    text-align:center;
    margin-bottom:2em;
}
#gift_modal .btn button{
    background:linear-gradient(-135deg,#5cd740 10%,#ede840);
    color:#fff;
    letter-spacing:0.2em;
    width:100%;
    padding:10px;
}

/* アクティビティ */
#activity_modal{
    height: 240px;
}

#activity_modal .modal_content .inner{
    padding: 0;
    height: 240px;
    overflow-y: auto;
}
#activity_modal .list{
    height: 100%;
    overflow-y: auto;
}
#activity_modal .list li{
    padding: 10px;
}
#activity_modal .list li a{
    display: block;
}
#activity_modal .list .photo_wrap{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
}

#activity_modal .list .photo_wrap,
#activity_modal .list .name{
    display: inline-block;
    vertical-align: middle;
}
#activity_modal .list .photo_wrap .photo{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
#activity_modal .list .name{
    width: 70%;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}





/*pager */
.pager *{
    box-sizing:border-box;
}
.pager{
    margin-top:3em;
}
.pager ul{
    display:flex;
    display:-webkit-flex;
    justify-content:center;
    -webkit-justify-content:center;
}
.pager ul li{
    padding:2px;
    width:34px;
    height:34px;
    border-radius:50%;
}
.pager ul li + li{
    margin-left:1em;
}
.pager ul li.active{
    background-image:url(/img/willing/photo_wrap_bg.png);
    background-size:cover;
}
.pager ul li span,
.pager ul li a{
    display:block;
    position:relative;
    height:30px;
    line-height:31px;
    min-width:30px;
    border-radius:50%;
    text-align:center;
    padding:0 5px;
    background:#fff;
    vertical-align:bottom;
    font-size:14px;
}
.pager ul li:not(.disabled) a:hover{
    background:#ccc;
}
.pager ul li.prev span,
.pager ul li.next span{
    background:transparent;
}
.pager ul li.disabled a,
.pager ul li.disabled a{
    cursor: default;
}
.pager ul li span.arrow:after{
    content:"";
    display:block;
    position:absolute;
    width:10px;
    height:10px;
    border-top:1px solid #000;
    border-right:1px solid #000;
    top:50%;
    left:50%;
    margin-top:-6px;
    margin-left:-8px;
}
.pager ul li.prev span.arrow:after{
    transform:rotate(-135deg);
}
.pager ul li.next span.arrow:after{
    margin-left:-12px;
    transform:rotate(45deg);
}


#post .file .preview_target{
    display:none;
    position:relative;
    width:40%;
    margin:2em auto;
}
#post .file .preview_target .img_remove{
    display:block;
    position:absolute;
    top:3%;
    right:3%;
    width:30px;
    height:30px;
    background:rgba(0,0,0,0.3);
    border-radius:50%;
    cursor:pointer;
}
#post .file .preview_target .img_remove:before,
#post .file .preview_target .img_remove:after{
    content:"";
    display:block;
    width:1px;
    height:20px;
    border-right:1px solid #fff;
    position:absolute;
    top:50%;
    margin-top:-10px;
    right:50%;
}
#post .file .preview_target .img_remove:before{
    transform:rotate(45deg);
}
#post .file .preview_target .img_remove:after{
    transform:rotate(-45deg);
}


/*** メッセージ ***/
.flash_wrap{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 99999;
    background: url(/img/willing/bg_gradient2.png) no-repeat center center;
    background-size: cover;
}

.flash_wrap.hidden{
    display: none;
}
.flash_bg{
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.flash_wrap .message {
    width: 960px;
    margin: 0 auto;
    line-height: 2.5;
    color: white;
    text-align: center;
}

/*** Lineオープンチャット ***/
.line_open_chat .tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.line_open_chat .tab li{
    width: 25%;
    margin-bottom: 12px;
}
.line_open_chat .tab li a{
    display: inline-block;
    width: 100%;
}
.line_open_chat .tab li a:hover,
.line_open_chat .tab li a.active{
    text-decoration: underline;
}
.line_open_chat .tab li .icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color:#fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: .4rem;
}
.line_open_chat article a{
    display: inline-block;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
.line_open_chat article a .preview{
    width: 80px;
    height: 80px;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.line_open_chat article a .is_new{
    display: inline-block;
    width: 28px;
    height: 12px;
    background-image: url(/img/willing/icons/icon_chat_new.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.line_open_chat article a .name{
    font-weight: bold;
    font-size: 27px;
}
/*** 備品 ***/
.equipment .tab{
    display: flex;
    justify-content: space-between;
}
.equipment .tab li{
    width: 100%;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.equipment .tab li a{
    display: inline-block;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.equipment .tab li.category_all{ background-image: url(/img/willing/tab/e_all.png); }
.equipment .tab li.category_1{ background-image: url(/img/willing/tab/e_livingware.png); }
.equipment .tab li.category_2{ background-image: url(/img/willing/tab/e_cycle.png); }
.equipment .tab li.category_3{ background-image: url(/img/willing/tab/e_room.png); }
.equipment .tab li.category_all:hover,
.equipment .tab li.category_all.active{
    background-image: url(/img/willing/tab/e_all_active.png);
}
.equipment .tab li.category_1:hover,
.equipment .tab li.category_1.active{
    background-image: url(/img/willing/tab/e_livingware_active.png);
}
.equipment .tab li.category_2:hover,
.equipment .tab li.category_2.active{
    background-image: url(/img/willing/tab/e_cycle_active.png);
}
.equipment .tab li.category_3:hover,
.equipment .tab li.category_3.active{
    background-image: url(/img/willing/tab/e_room_active.png);
}
.equipment .list article{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
.equipment .list article .preview{
    width: 40%;
}
.equipment .list article .preview img{
    width: 100%;
}
.equipment .list article .content{
    padding: 0 10px 0 40px;
}
.equipment .list article .content .name{
    font-size: 20px;
}
.equipment .list article .content .in_use{
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    background: #f444e4;
    text-align: center;
    line-height: 1;
}
