/* normalize */
@font-face {
    font-family: "Hiragino Sans";
    src: local(HiraginoSans-W0);
    font-weight: 100;
}

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align:baseline;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
article, header, footer, aside, figure, figcaption, nav, section { 
    display:block;
}
input[type=text],
input[type=password],
button{
    appearance:none;
    -webkit-appearance:none;
    border:none;
    outline:none;
    background:none;
}
button img{
    width:100%;
    height:auto;
}
html{ height:100%;}
body {
    font-family: "Hiragino Kaku Gothic ProN","a?!a??a?aa?a", sans-serif;
    /*line-height: 1;*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin:0;
    margin-bottom: 67px;
    color: #333333;
    font-size: 12px;
}
ol, ul {
    list-style: none;
    list-style-type: none;
}
a{
    text-decoration:none;
    cursor: pointer;
    color:#000;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* common */

.container{
    position:relative;
    max-width:600px;
    margin:0 auto;
}
.contents{
    padding:72px 5% 0;
}
.contents .contents_logo{
    text-indent:-9999px;
    background-repeat:no-repeat;
    background-size:86% auto;
    background-position:50% 0%;
    margin:5% 0 10%;
}

.fs13 { font-size: 13px !important; }



/* header */

header{
    height:72px;
    width:100%;
    background:#fff;
    position:fixed;
    z-index:9999;
}
#menu .menu_header,
header .header_wrap{
    position:relative;
    width:100%;
    max-width:600px;
    height:72px;
}
header .header_wrap .left{
    position:absolute;
    left:5%;
    bottom:4px;
}
header .header_wrap .left .menu_trigger > span{
    display:inline-block;
    width:40px;
    height:40px;
}
header .header_wrap .left .menu_trigger img{
    width:100%;
    height:auto;
    padding:12px 0;
}
header .header_wrap .apartment_logo{
    position:absolute;
    width:150px;
    left:54px;
    top:12px;
}
header .header_wrap .apartment_logo img{
    width:100%;
    height:auto;
}
header .header_wrap .header_logo{
    position:absolute;
    right:5%;
    bottom:4px;
    width:40px;
    height:40px;
    z-index:10000;
}
#menu .header_logo img,
header .header_wrap .header_logo img{
    width:100%;
    height:auto;
    padding:3px 0;
}


/* menu */

#menu{
    position:fixed;
    top:0;
    left:-100%;
    bottom:0;
    width:100%;
    z-index:9999;
    background:#fff;
    transition:left 0.2s ease-in;
    overflow-y:auto;
}
#menu .menu_wrap{
    max-width:600px;
    margin:0 auto;
}
#menu .menu_header{
    position:relative;
    width:100%;
    height:90px;
}
#menu .header_logo{
    position:absolute;
    right:5%;
    bottom:22px;
    width:40px;
    height:40px;
}
#menu .menu_header .name{
    position:absolute;
    bottom:28px;
    left:7%;
    font-size:1rem;
}
#menu .border{
    margin:0 5%;
    border-bottom:1px solid #000;
}
#menu .menu_list{
    padding:5%;
}
#menu .menu_list li span,
#menu .menu_list li a{
    display:inline-block;
    padding:2.5% 2.5% 2.5% 0;
    font-size:0.9rem;
}
#menu .menu_list li span:before,
#menu .menu_list li a:before{
    content:"●";
    color:#5d503c;
    margin-right:0.3rem;
}
#menu .menu_list > div + div{
    margin-top:5%;
}
#menu .menu_close{
}
#menu .menu_close a{
    display:block;
    position:absolute;
    bottom:50px;
    right:13%;
    width:40px;
    height:40px;
}
#menu .menu_close img{
    width:100%;
    height:auto;
}
#menu .menu_close.document{
    text-align:right;
    padding:0 13% 5%;
}
#menu .menu_close.document a{
    display:inline-block;
    position:static;
}

/* modal */
.modal-overlay{
    position:fixed;
    z-index:10001;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(93,80,60,0.5);
}

.modal{
    position:fixed;
    display:none;
    z-index:10002;
    width: 90%;
    background:#fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:8% 5%;
}
.modal .title{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding:5% 0;
    text-align:center;
    font-size:0.9rem;
    margin-bottom:7%;
}
.modal .logo{
    width:40%;
    margin:0 auto 10%;
}
.modal .logo img{
    width:100%;
    height:auto;
}
.modal .txt{
    text-align:center;
    font-size:0.7rem;
}
.modal.complete .txt{
    margin-bottom:5%;
}
.modal .border{
    border-bottom:1px solid #000;
}
.modal .btn{
    margin-top:7%;
    text-align:center;
}
.modal .btn button{
    height:7.5vw;
}
.modal .btn button img{
    height:100%;
    width:auto;
}
.modal.disable .txt{
    margin:5% 0;
}



/* Top */

.contents .top .contents_logo{
    background-image:url(/img/common/apartment_logo.png);
    background-size:86% auto;
    padding-bottom:23%;
}
.contents .top .last_used{
}
.contents .top .information{
}
.contents .top h3{
    font-size:1rem;
    margin-bottom:3%;
}
.contents .top h3:before{
    content:"●";
    color:#5d503c;
    margin-right:0.3rem;
}
.contents .top .last_used{
    margin-bottom:10%;
}
.contents .app_cate_list,
.contents .top .last_used .last_used_list{
    display:flex;
    width:100%;
    -webkit-justify-content:start;
    justify-content:start;
    flex-wrap:wrap;
}
.contents .app_cate_list li,
.contents .top .last_used .last_used_list li{
    width:32%;
    height: auto;
    position: relative;
    margin-bottom:2%;
}
.contents .app_cate_list li + li,
.contents .top .last_used .last_used_list li + li{
    margin-left:2%;
}
.contents .app_cate_list li:nth-child(3n+1){
    margin-left:0;
}
.contents .app_cate_list li:before,
.contents .top .last_used .last_used_list li:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.contents .app_cate_list li a,
.contents .top .last_used .last_used_list li a{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background:url(/img/top/top_lastused_bg.png) no-repeat 0% 0%;*/
    background-image:url(/img/common/home_wh.png);
    background-repeat:no-repeat;
    background-position:8% 8%;
    background-size:auto 15%;
    background-color:#bcb4a9;
    color:#fff;
}
.contents .app_cate_list li a:before,
.contents .top .last_used .last_used_list li a:before{
    content: "";
    height: 100%;
    vertical-align: middle;
    width: 0px;
    display: inline-block;
}
.contents .app_cate_list li a > *,
.contents .top .last_used .last_used_list li a > *{
    vertical-align: middle;
    display: inline-block;
    padding:0 7%;
    position:absolute;
    top:36%;
}
.contents .app_cate_list li a p,
.contents .top .last_used .last_used_list li a p{
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.contents .app_cate_list li a .app_title,
.contents .top .last_used .last_used_list li a .app_title{
    font-size:0.7rem;
}
.contents .app_cate_list li a .app_title_en,
.contents .top .last_used .last_used_list li a .app_title_en{
    font-size:0.6rem;
}
.contents .moresumaiful .article_list li + li,
.contents .top .information .information_list li + li{
    margin-top:5%;
}
.contents .moresumaiful .article_list li a,
.contents .top .information .information_list li a{
    display:flex;
    width:100%;
}
.contents .top .information .information_list li a.pdf,
.contents .top .information .information_list li a.ex_link{
    background-position:97% 50%;
    background-size:30px auto;
    background-repeat:no-repeat;
}
.contents .top .information .information_list li a.pdf{
    background-image:url(/img/common/icon_pdf.png);
}
.contents .top .information .information_list li a.ex_link{
    background-image:url(/img/common/icon_link.png);
}
.contents .moresumaiful .article_list li a .info_img,
.contents .top .information .information_list li a .info_img{
    width:80px;
    min-width:80px;
    height:80px;
    background-color:#999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float:left;
    margin-right:3%;
}
.contents .moresumaiful .article_list li a .info_txt,
.contents .top .information .information_list li a .info_txt{
    padding-top:3%;
}
.contents .top .information .information_list li a.pdf .info_txt,
.contents .top .information .information_list li a.ex_link .info_txt{
    padding:3% 55px 0 0;
}
.contents .moresumaiful .article_list li a .info_txt .date,
.contents .top .information .information_list li a .info_txt .date{
    font-size:0.6rem;
}
.contents .moresumaiful .article_list li a .info_txt .title,
.contents .top .information .information_list li a .info_txt .title{
    font-size:0.8rem;
}


/* homekit */
.contents .homekit .contents_logo{
    background-image:url(/img/homekit/homekit_title.png);
    background-size:64% auto;
    background-position:15% 0;
    padding-bottom:25%;
}
.contents .homekit.app_select .contents_logo{
    margin-bottom:-5%;
}
.contents .homekit .app_cate_list li a{
    color:#000;
    background-color:#dad1c1;
    background-image:url(/img/common/home.png);
    background-repeat:no-repeat;
    background-position:8% 8%;
    background-size:auto 15%;
}
.contents .concierge .back,
.contents .homekit .back{
    text-align:right;
}
.contents .concierge .back a,
.contents .homekit .back a{
    display:inline-block;
    padding:5%;
    width:20%;
    height:auto;
}
.contents .concierge .back img,
.contents .homekit .back img{
    width:100%;
    height:auto;
}
.contents .app_list{
    background-color:#dad1c1;
    background-repeat:no-repeat;
    background-position:0% 0%;
    background-size:100% auto;
    padding:15% 15% 5%;
    position:relative;
}
.contents .app_list h3{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 13%;
    padding-left: 2rem;
    padding-top: 0.5%;
    background-image:url(/img/common/home.png);
    background-repeat:no-repeat;
    background-size: auto 100%;
    font-size:0.9rem;
    font-family:serif;
    vertical-align: middle;
}
.contents .app_list ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.contents .app_list ul li{
    width:40%;
    text-align:center;
}
.contents .app_list ul li:nth-child(n+3){
    margin-top:10%;
}
.contents .app_list ul li .app_img{
    width:70px;
    height:70px;
    margin:0 auto 3%;
    background-color: #999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}

/* concierge */
.contents .concierge .contents_logo{
    background-image:url(/img/concierge/concierge_title.png);
    background-size:64% auto;
    background-position:15% 0;
    padding-bottom:25%;
}
.contents .concierge.app_select .contents_logo{
    margin-bottom:-5%;
}
.contents .concierge .app_cate_list li a{
    color:#000;
    background-image:url(/img/common/home.png);
    background-repeat:no-repeat;
    background-position:8% 8%;
    background-size:auto 15%;
    background-color:#d1ced4;
}
.contents .concierge .app_list{
    background-color:#d1ced4;
}
.contents .concierge li.enquete .new{
    display:block;
    position:absolute;
    width:26px;
    height:36px;
    padding:7px 0;
    top:-12px;
    right:10px;
    color:#fff;
    font-size:0.6rem;
    text-align:center;
    background-image:url(/img/concierge/concierge_notification.png);
    background-size:100% auto;
}
.contents .concierge .article_list{
    padding-right:5%;  
}
.contents .concierge .article_list ul li{
    position:relative;
}
.contents .concierge .article_list ul li a{
    display:block;
    padding:4% 2%;
    border-top:1px solid #ccc;
}
.contents .concierge .article_list ul li:last-child a{
    border-bottom:1px solid #ccc;
}
.contents .concierge .article_list ul li .date{
    font-size:0.6rem;
    margin-bottom:1%;
    font-family:serif;
}
.contents .concierge .article_list ul li .title{
    font-size:0.75rem;
    font-family:serif;
}
.contents .concierge.enquete .article_list ul li .title:before{
    content:"「";
}
.contents .concierge.enquete .article_list ul li .title:after{
    content:"」";
}
.contents .concierge.enquete .title{
    margin-bottom:5%;
}
.contents .concierge.enquete .title .date{
    font-size:0.6rem;
    font-family:serif;
}
.contents .concierge.enquete .title h2{
    font-size:1.1rem;
    font-family:serif;
}
.contents .concierge.enquete .enquete_blc .num{
    width:40%;
    padding:4% 0 0;
    text-align:center;
    border-bottom:1px solid #ccc;
    background:url(/img/concierge/question_num.png) 50% 0% no-repeat;
    background-size:50% auto;
    font-size:1.4rem;
    font-family:serif;
    margin-bottom:5%;
}
.contents .concierge.enquete .enquete_blc .question{
    font-size:0.8rem;
    line-height:1.3rem;
    margin-bottom:5%;
}
.contents .concierge.enquete .enquete_blc .answer .radio_box,
.contents .concierge.enquete .enquete_blc .answer .check_box{
    max-height:50vw;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    background:#b0a9b5;
    padding:2%;
}
.contents .concierge.enquete .enquete_blc .answer input[type=radio],
.contents .concierge.enquete .enquete_blc .answer input[type=checkbox]{
    display:none;
}
.contents .concierge.enquete .enquete_blc .answer .radio_box ul li label{
    display:block;
    padding:5% 8% 5% 5%;
    border-bottom:1px dashed #666;
}
.contents .concierge.enquete .enquete_blc .answer .radio_box.value ul li label{
    text-align:center;
}
.contents .concierge.enquete .enquete_blc .answer .radio_box ul li label{
}
.contents .concierge.enquete .enquete_blc .answer .radio_box ul li:last-child label{
    border-bottom:none;
}
.contents .concierge.enquete .enquete_blc .answer .radio_box ul li input[type=radio]:checked + label{
    background:#fff;
}
.contents .concierge.enquete .enquete_blc .answer .check_box ul li{
    position:relative;
}
.contents .concierge.enquete .enquete_blc .answer .check_box ul li label{
    display:block;
    padding:5% 8% 5% 10%;
    border-bottom:1px dashed #666;
}
.contents .concierge.enquete .enquete_blc .answer .check_box ul li:last-child label{
    border-bottom:none;
}
.contents .concierge.enquete .enquete_blc .answer .check_box ul li input + label:before{
    display:block;
    content:"";
    border:1px solid #666;
    border-radius:2px;
    width:14px;
    height:14px;
    position:absolute;
    top:50%;
    margin-top:-7px;
    left:3px;
}
.contents .concierge.enquete .enquete_blc .answer .check_box ul li input:checked + label:before{
    border:none;
    background:#795E2E;
    width:16px;
    height:16px;
    position:absolute;
}
.contents .concierge.enquete .enquete_blc .answer .text_box input[type=text]{
    appearance:none;
    -webkit-appearance:none;
    outline:none;
    border:none;
    padding:0;
    background:#b0a9b5;
    padding:3% 5%;
    width:100%;
}
.contents .concierge.enquete .enquete_blc .btn{
    text-align:right;
    margin-top:7%;
}
.contents .concierge.enquete .enquete_blc .btn button{
    padding:0;
    width:25%;
}
.contents .concierge.contact h3{
    width:80%;
    padding:5% 0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:0 auto 7%;
    text-align:center;
    font-size:0.9rem;
}
.contents .concierge .contact_list li + li{
    margin-top:2%;
}
.contents .concierge .contact_list li a{
    display:block;
    padding:6% 0;
    text-align:center;
    border:1px solid #ccc;
    font-size:0.8rem;
}
.contents .concierge .contact_list li.website a{
    background:#b0a9b5;
}



/* more sumaiful */
.contents .moresumaiful .contents_logo{
    background-image:url(/img/sumaiful/sumaiful_title.png);
    background-size:64% auto;
    background-position:15% 0;
    padding-bottom:25%;
}
.contents .moresumaiful .article_list li{
    padding:4% 0;
    border-top:1px solid #000;
}
.contents .moresumaiful .article_list li:last-child{
    border-bottom:1px solid #000;
}
.contents .moresumaiful.article .title{
    margin-bottom:10%;
    border-bottom:1px solid #ccc;
    position:relative;
    padding-bottom:3%;
}
.contents .moresumaiful.article .title .date{
    font-size:0.6rem;
    font-family:serif;
}
.contents .moresumaiful.article .title h2{
    font-size:1.1rem;
    font-family:serif;
    padding-right:20%;
}
.contents .moresumaiful.article .title .back{
    position:absolute;
    width:12%;
    right:0;
    bottom:10%;
}
.contents .moresumaiful.article .title .back img{
    width:100%;
    height:auto;
}
.contents .moresumaiful.article .text{
}
.contents .moresumaiful.article .text img{
    width: 100%;
    height: auto;
    pointer-events: none;
}



/* communication */
.contents .communication .contents_logo{
    background-image:url(/img/communication/communication_title.png);
    background-size:64% auto;
    background-position:15% 0;
    padding-bottom:25%;
}
.contents .communication .menu li{
    position:relative;
}
.contents .communication .menu li + li{
    margin-top:3%;
}
.contents .communication .menu li a{
    display:block;
    background-color:#d9dddb;
    text-align:center;
    padding:12% 0;
    font-size:4vw;
    background-image:url(/img/common/home.png);
    background-repeat:no-repeat;
    background-position:4% 12%;
    background-size:auto 18%;
}
.contents .communication .menu li img{
    width:100%;
    height:auto;
}
.contents .communication .menu li .new{
    display:block;
    position:absolute;
    width:26px;
    height:36px;
    padding:7px 0;
    top:-12px;
    left:12%;
    color:#fff;
    font-size:0.6rem;
    text-align:center;
    background-image:url(/img/communication/communication_notification.png);
    background-size:100% auto;
}
.contents .communication .thread_list{
    padding-bottom:15%;
}
.contents .communication .thread_list ul li{
    border-top:1px solid #000;
    padding:5% 0;
}
.contents .communication .thread_list ul li:last-child{
    border-bottom:1px solid #000;
}
.contents .communication .thread_list ul li a{
    display:block;
}
.contents .communication .thread_list ul li a > div{
    display:flex;
    align-items:center;
    width:100%;
}
.contents .communication .thread_list ul li a .img{
    width:100px;
    min-width:100px;
}
.contents .communication .thread_list ul li a .img .icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#999;
    margin:0 auto 3%;
}
.contents .communication .thread_list ul li a .img .name{
    text-align:center;
    color:#999;
    font-size:0.8rem;
}
.contents .communication .thread_list ul li a .txt{
    margin-left:5%;
}
.contents .communication .thread_list ul li a .txt .date{
    margin-bottom:2%;
    font-size:0.6rem;
}
.contents .communication .thread_list ul li a .txt .date .category{
    display:inline-block;
    background:#ddd;
    padding:1% 4%;
    border-radius:2px;
    margin-left:3%;
}
.contents .new_thread{
    position:fixed;
    background:#fff;
    left:0;
    right:0;
    bottom:0;
    padding:3% 5%;
    text-align:right;
}
.contents .new_thread button{
    width:40%;
}
.contents .communication .create_thread{
}
.contents .communication .create_thread{
    padding:10% 5% 0;
}
.contents .communication .create_thread .txt{
    text-align:center;
    margin-bottom:10%;
}
.contents .communication .input_area dl dt{
    margin-bottom:2%;
    font-size:0.8rem;
}
.contents .communication .input_area dl dd + dt{
    margin-top:5%;
}
.contents .communication .input_area dl dt:before{
    content:"●";
    color:#9da49f;
    margin-right:0.3rem;
    font-size:1rem;
}
.contents .communication input[type=text]{
    border:1px solid #ccc;
    padding:3%;
    width:100%;
}
.contents .communication .create_thread .btn{
    width:30%;
    margin:8% 0 0 auto;
}
.contents .communication.thread .title{
    padding-bottom:2%;
    border-bottom:1px solid #000;
    position:relative;
}
.contents .communication.thread .title .category{
    display:inline-block;
    border-radius:2px;
    padding:1%;
    background:#ddd;
    position:absolute;
    font-size:0.6rem;
    width:50px;
    text-align:center;
    left:0;
}
.contents .communication.thread .title h2{
    font-size:0.9rem;
    font-family:serif;
    padding-left:60px;
}
.contents .communication.thread .msg > ul > li{
    margin-top:20px;
}
.contents .communication.thread .msg .msg_content{
    display:flex;
}
.contents .communication.thread .msg .msg_content .img{
    width:100px;
    max-width:100px;
    margin-right:10px;
    padding-top:10px;
}
.contents .communication.thread .msg .msg_content .img .icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#999;
    margin:0 auto 3%;
}
.contents .communication.thread .msg .msg_content .img .name{
    text-align:center;
    color:#999;
    font-size:0.8rem;
}
.contents .communication.thread .msg .msg_content .txt_wrap{
    width:auto;
}
.contents .communication.thread .msg .msg_content .txt{
    position:relative;
    background:#d9ddda;
    padding:5%;
    border-radius:0px 6px 6px 6px;
    word-break:break-word;
    white-space:normal;
}
.contents .communication.thread .msg .msg_content .txt:before{
    content:"";
    display:block;
    width:10px;
    height:15px;
    background-image:url(/img/communication/communication_balloon_left.png);
    background-repeat:no-repeat;
    background-size:100% auto;
    position:absolute;
    top:0;
    left:-10px;
}
.contents .communication.thread .msg .msg_content .txt_wrap .date{
    text-align:right;
    margin-top:2%;
    color:#999;
    font-size:0.7rem;
}
.contents .communication.thread .msg .own .msg_content{
    display:flex;
    flex-direction:row-reverse;
}
.contents .communication.thread .msg .own .msg_content .img{
    margin-right:0;
    margin-left:10px;
    flex-direction:row-reverse;
}
.contents .communication.thread .msg .own .msg_content .txt{
    background:#9ca39e;
    border-radius:6px 0 6px 6px;
}
.contents .communication.thread .msg .own .msg_content .txt:before{
    background-image:url(/img/communication/communication_balloon_right.png);
    left:auto;
    right:-10px;
}
.contents .communication.thread .msg .own .msg_content .txt_wrap .date{
    text-align:left;
}


/* menu */
#menu .document_contents,
#menu .menu_contents{
    padding:10% 5% 0;
}
#menu .menu_contents.mail .txt{
    text-align:center;
    margin-bottom:10%;
}
#menu .menu_contents .input_area dl dt{
    margin-bottom:2%;
    font-size:0.8rem;
}
#menu .menu_contents .input_area dl dd + dt{
    margin-top:5%;
}
#menu .menu_contents .input_area dl dt:before{
    content:"●";
    color:#5d503c;
    margin-right:0.3rem;
    font-size:1rem;
}
#menu .menu_contents input[type=text]{
    border:1px solid #ccc;
    padding:3%;
    width:100%;
}
#menu .menu_contents.profile .btn,
#menu .menu_contents.mail .btn{
    width:30%;
    margin:8% 0 0 auto;
}
#menu .menu_contents.profile .photo_wrap{
    margin-bottom:5%;
}
#menu .menu_contents.profile .photo_wrap .photo{
    position:relative;
    height:40vw;
    width:40vw;
    margin:0 auto;
    background-color:#ccc;
    background-size:cover;
    background-position:center center;
    border-radius:50%;
}
#menu .menu_contents.profile .photo_wrap .photo .camera{
    display:block;
    position:absolute;
    width:12vw;
    height:12vw;
    border-radius:50%;
    bottom:0;
    right:0;
    background-color:#999;
    background-image:url(/img/sample_camera.png);
    background-size:6vw 6vw;
    background-position:center center;
    background-repeat:no-repeat;
    border:4px solid #fff;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.3);
}
#menu .menu_contents .key{
    background:#ddd;
    font-size:2rem;
    text-align:center;
    padding:5% 3%;
    margin-bottom:10%;
}
#menu .menu_contents .btn_copy{
    background:#5c4f3c;
    color:#fff;
    padding:3% 5%;
    display:block;
    width:80%;
    margin:0 auto;
    font-size:1rem;
    border-radius:3px;
}
#menu .document_contents{
    padding-bottom:3%;
}
#menu .document_contents h2{
    font-size:1.4rem;
    margin-bottom:3%;
    text-align:center;
}
#menu .document_contents dl dt,
#menu .document_contents dl dd{
    word-break:break-all;
}
#menu .document_contents dl dt{
    font-weight:bold;
    font-size:1rem;
}
#menu .document_contents dl dd{
    padding-left:1rem;
}
#menu .document_contents dl dd + dt{
    margin-top:1em;
}

.msg_send_wrap{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height: auto;
    min-height: 1.2rem;
    background:#fff;
    z-index:8000;
    border-top:1px solid #ccc;
}
.msg_send{
    display:flex;
}
.msg_send > div{
    padding:3px;
}
.msg_send .txt{
    flex:9;
}
.msg_send .txt textarea{
    width:100%;
    min-height:34px;
    max-height: 64px;
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 3px;
    padding:7px 10px;
    font-size: 1rem;
    line-height: 1rem;
    resize: vertical;
}
.msg_send .btn{
    flex:1;
    text-align:center;
}
.msg_send .btn button{
    width:100%;
}
.msg_send .btn button img{
    height:30px;
    width:auto;
}


.contents.login{
    padding:72px 10% 0;
}
.contents.login .logo{
    width:90%;
    margin:0 auto 5%;
}
.contents.login .logo + .logo{
    margin:0 auto 14%;
}
.contents.login .logo img{
    width:100%;
}
.contents.login .login_menu li a{
    display:block;
    padding:8% 10%;
    text-align:center;
    background:rgba(93,80,60,0.4);
    color:#fff;
    font-size:0.8rem;
}
.contents.login .login_menu li + li{
    margin-top:1%;
}
.contents.login .regist .input_area table{
    width:100%;
}
.contents.login .regist .input_area table tr th,
.contents.login .regist .input_area table tr td{
    border-bottom:1px solid #231815;
}
.contents.login .regist .input_area table tr th{
    padding:3% 5%;
    width:40%;
    text-align:left;
}
.contents.login .regist .input_area table tr td input{
    padding:4%;
    height:2rem;
    width:100%;
}


/*form*/
.contents.form{
    padding: 30px 2% 0;
}
.contents .form_logo{
    text-align:center;
    margin-bottom:20px;
}
.contents .form_logo img{
    max-width:30%;
}
.contents .form_wrap{
    padding:2px;
    background-image:url(/img/form_bg.png);
    background-size:100% 100%;
}
.contents .form_wrap *{
    font-family:"Hiragino Kaku Gothic Pro", Meiryo , "MS Gothic", sans-serif;
}
.contents .form_wrap .form_content{
    padding:8% 2%;
    background-color:#fff;
}
.contents .form_wrap .form_content table{
    width:100%;
}
.contents .form_wrap .form_content th,
.contents .form_wrap .form_content td{
    font-size:14px;
    padding:8px 0;
    position:relative;
    vertical-align:bottom;
}
.contents .form_wrap .form_content th{
    text-align:left;
    width:25%;
    min-width:80px;
}
.contents .form_wrap .form_content .require{
    color:#c00;
    margin-left:0.2em;
}
.contents .form_wrap .form_content th{
}
.contents .form_wrap .form_content td input[type=text],
.contents .form_wrap .form_content td input[type=email],
.contents .form_wrap .form_content td input[type=password],
.contents .form_wrap .form_content td select{
    border:none;
    border-bottom:1px solid #666;
    font-size:16px;
    padding:3px;
    width:100%;
    border-radius:0;
    appearance:none;
    -webkit-appearance:none;
}
.contents .form_wrap .form_content td select + span:after{
    content:"";
    display:block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #000000 transparent transparent transparent;
    position:absolute;
    right:10px;
    top:21px;
}
.contents .form_wrap .form_content td input::placeholder{
    color:#ccc;
}
.contents .form_wrap .form_content td input[type=checkbox]{
    display:none;
}
.contents .form_wrap .form_content td label{
    position:relative;
    display:block;
}

.contents .form_wrap .form_content td label[for=reapply],
.contents .form_wrap .form_content td label[for=agree]{
    padding-left: 30px;
    //line-height: 25px;
}
.contents .form_wrap .form_content td label:before{
    content:"";
    display:block;
    border:2px solid #ccc;
    width:20px;
    height:20px;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    cursor:pointer;
}
.contents .form_wrap .form_content td input[type=checkbox]:checked + label:after{
    content:"";
    display:block;
    border-bottom:3px solid #000;
    border-right:3px solid #000;
    transform:rotate(45deg);
    width:10px;
    height:16px;
    position:absolute;
    top:-2px;
    left:8px;
    z-index:20;
}
.contents .form_wrap .form_content td p{
    padding-top:26px;
}
.contents .form_wrap .form_content .btn.submit{
    display:block;
    appearance:none;
    -webkit-appearance:none;
    outline:none;
    font-size:14px;
    letter-spacing:0.2em;
    padding:3%;
    min-width:200px;
    width:60%;
    margin:8% auto 0;
    border:2px solid #ccc;
    color:#ccc;
    box-sizing:border-box;
}
.contents .form_wrap .form_content .btn.submit.active{
    cursor:pointer;
    background-image:url(/img/form_btn_bg.png);
    background-size:100% 100%;
    color:#fff;
    border:none;
}
.message {
    text-align:center;
    font-size:16px;
    border: 1px solid #000;
    margin-bottom:10px;
    padding: 4px;
}
.error {
    color:red;
}
h1.title_faq, h2.faq_category_name {
    text-align:center;
    font-size: 24px;
    padding: 10px;
}
h2.faq_category_name {
    width: 350px;
    margin: 0 auto;
    border-top:solid #808080 1px;
    border-bottom:solid #808080 1px;
    padding: 10px;
}
h3.question {
    text-align:center;
    font-size: 20px;
}
ul.answers {
    margin: 0 auto;
    text-align:left;
    font-size: 13px;
    width: 400px;
}
li {
    padding: 5px;
}
li.answer {
    margin: 8px 0 0 15px;
}
