<div class="">
    <div class="clearfix contents_title">
        <h2 class="left"><?php echo noh( $title_for_layout ); ?></h2>
        <?php if( in_array( $this->request->session()->read('Admin.Auth.admin_user.authority' ), [ SYSTEM_ADMIN, ADMIN ], true ) ): ?>
        <div class="right">
            <a href="<?php echo noh( $this->Url->build( ['action' => 'edit' ]) ); ?>" class="btn"><i class="fa fa-edit"></i> 新規作成</a>
        </div>
        <?php endif; ?>
    </div>
    <?php echo noh( $this->Flash->render() ); ?>
    <div class="list_table">
        <table>
            <tr>
                <th>ID</th>
                <th>サムネイル</th>
                <th>タイトル</th>
                <th>タイプ</th>
                <th>建物の公開範囲</th>
                <?php // <th>イベントフラグ</th> ?>
                <th>表示フラグ</th>
                <th>退去者</th>
                <th>公開日</th>
                <th>公開終了日</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <?php foreach( $data as $key => $val ): ?>
                <tr>
                    <td class=""><?php echo h( $val->id ); ?></td>
                    <td class="">
                        <?php if ( $val->rel_information_file ): ?>
                            <?php if ( isset( $val->rel_information_file->file ) && $val->rel_information_file->file->mime_type === 'application/pdf' ): ?>
                                <embed src="<?php echo noh( DS . $val->rel_information_file->file->file_path ); ?>" type="application/pdf">
                                <!-- iframe src="/js/pdfjs/web/viewer.html?file=<?php echo noh( DS . $val->rel_information_file->file->file_path ); ?>">Open yourpdf.pdf with PDF.js</iframe -->
                                <!-- a href="/js/pdfjs/web/viewer.html?file=<?php echo noh( DS . $val->rel_information_file->file->file_path ); ?>">Open yourpdf.pdf with PDF.js</a -->
                            <?php else: ?>
                                <?php echo '<img src="' .  DS .$val->rel_information_file->file->file_path . '">'; ?>
                            <?php endif; ?>
                        <?php else: ?>
                            <?php echo 'no image'; ?>
                        <?php endif; ?>
                    </td>
                    <td class=""><?php echo h( $val->title ); ?></td>
                    <td class="">
                        <?php echo h( $mt_information_type[$val->type] ); ?>
                        <?php if( $val->type === 'event' ): ?>
                            <br>
                            開催日時:<?php echo $val->event_date->format('Y/m/d H:i'); ?>
                        <?php endif; ?>
                    </td>
                    <td class="">
                        <?php if( $val->all_building_flg === 1 ): ?>
                            全建物
                        <?php else: ?>
                            <?php foreach( $val->information_buildings as $val2 ): ?>
                                <?php echo h( $val2->building->name ); ?><br>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </td>
                    <?php /*  <td class=""><?php echo noh( ( $val->event_flg ) ? '●' : '-' ); ?></td> */ ?>
                    <td class=""><?php echo noh( ( $val->display_flg === 1 ) ? '表示' : '非表示' ); ?></td>
                    <td class=""><?php echo noh( ( $val->reject_leave_readable_flg  === 1 ) ? '公開しない' : '公開' ); ?></td>
                    <td class=""><?php echo h( $val->release_date->format('Y/m/d') ); ?></td>
                    <td class=""><?php echo ( $val->close_date ) ? h( $val->close_date->format('Y/m/d') ) : '--'; ?></td>
                    <td class="">
                        <?php if( in_array( $this->request->session()->read('Admin.Auth.admin_user.authority' ), [ SYSTEM_ADMIN, ADMIN ], true ) ): ?>
                            <a href="<?php echo noh( $this->Url->build( ['action' => 'edit',   $val->id ]) ); ?>" class="btn"><i class="fa fa-edit"></i> 編集</a>
                            <a data-action="<?php echo noh( $this->Url->build( ['action' => 'delete', $val->id ]) ); ?>" class="btn btn_delete jsConfirm" tabIndex="-1"><i class="fa fa-times"></i> 削除</a>
                        <?php endif; ?>
                    </td>
                    <td class="">
                        <?php if( $val->event_flg === 1 ): ?>
                            <a href="<?php echo noh( $this->Url->build( ['action' => 'participant', $val->id ]) ); ?>" class="btn "><i class="fa fa-user-friends"></i> 参加者の確認</a>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>

    </div>
    <div class="text_c admin_pager">
        <?php echo noh( $this->Paginator->first( '最初へ' ) ); ?>
        <?php echo noh( $this->Paginator->prev( '前へ' ) ); ?>
        <?php echo noh( $this->Paginator->numbers() ); ?>
        <?php echo noh( $this->Paginator->next( '次へ' ) ); ?>
        <?php echo noh( $this->Paginator->last( '最後へ' ) ); ?>
    </div>
</div>
