/* normalize */
@font-face {
    font-family: "Hiragino Sans";
    src: local(HiraginoSans-W0);
    font-weight: 100;
}

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align:baseline;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
article, header, footer, aside, figure, figcaption, nav, section { 
    display:block;
}
input[type=text],
input[type=password],
button{
    appearance:none;
    -webkit-appearance:none;
    border:none;
    outline:none;
    background:none;
}
button img{
    width:100%;
    height:auto;
}
html{ height:100%; height: 100vh;}
body {
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    /*line-height: 1;*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin:0;
    color: #333333;
    font-size: 12px;
    height: 100%;
}
ol, ul {
    list-style: none;
    list-style-type: none;
}
a{
    text-decoration:none;
    cursor: pointer;
    color:#000;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
.left{ float: left; }
.right{ float: right; }
.clearfix::after {
    content: "";
    display: block;
    clear: both;
};

.fs13 { font-size: 13px !important; }

.hidden{ display: none;}

#frame{
    /*
    background-image: url(/img/sumaiful/bg02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
}
#frame,
#frame .contents
{
    height: 100%;
    height: 100vh;
}

/* common */
.container{
    height: 100%;
    height: 100vh;
    width: 100%;
    position:relative;
}
.contents{
    height: 100%;
    //padding:72px 5% 0;
}

/* modal */
.modal-overlay{
    position:fixed;
    z-index:10001;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(93,80,60,0.5);
}

.modal{
    position:fixed;
    display:none;
    z-index:10002;
    width: 90%;
    background:#fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:8% 5%;
}
.modal .title{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding:5% 0;
    text-align:center;
    font-size:0.9rem;
    margin-bottom:7%;
}
.modal .logo{
    width:40%;
    margin:0 auto 10%;
}
.modal .logo img{
    width:100%;
    height:auto;
}
.modal .txt{
    text-align:center;
    font-size:0.7rem;
}
.modal.complete .txt{
    margin-bottom:5%;
}
.modal .border{
    border-bottom:1px solid #000;
}
.modal .btn{
    margin-top:7%;
    text-align:center;
}
.modal .btn button{
    height:7.5vw;
}
.modal .btn button img{
    height:100%;
    width:auto;
}
.modal.disable .txt{
    margin:5% 0;
}


/* concierge */
.concierge .contents_logo{
    background-image:url(/img/concierge/concierge_title.png);
    background-size:64% auto;
    background-position:15% 0;
    padding-bottom:25%;
}
.concierge.app_select .contents_logo{
    margin-bottom:-5%;
}
.contents .concierge .app_cate_list li a{
    color:#000;
    background-image:url(/img/common/home.png);
    background-repeat:no-repeat;
    background-position:8% 8%;
    background-size:auto 15%;
    background-color:#d1ced4;
}
.contents .concierge .app_list{
    background-color:#d1ced4;
}
.contents .concierge li.enquete .new{
    display:block;
    position:absolute;
    width:26px;
    height:36px;
    padding:7px 0;
    top:-12px;
    right:10px;
    color:#fff;
    font-size:0.6rem;
    text-align:center;
    background-image:url(/img/concierge/concierge_notification.png);
    background-size:100% auto;
}
.contents .concierge .article_list{
    padding-right:5%;  
}
.contents .concierge .article_list ul li{
    position:relative;
}
.contents .concierge .article_list ul li a{
    display:block;
    padding:4% 2%;
    border-top:1px solid #ccc;
}
.contents .concierge .article_list ul li:last-child a{
    border-bottom:1px solid #ccc;
}
.contents .concierge .article_list ul li .date{
    font-size:0.6rem;
    margin-bottom:1%;
    font-family:serif;
}
.contents .concierge .article_list ul li .title{
    font-size:0.75rem;
    font-family:serif;
}
.contents .concierge.enquete .article_list ul li .title:before{
    content:"「";
}
.contents .concierge.enquete .article_list ul li .title:after{
    content:"」";
}

.contents .enquete{
    padding:0 2%;
}
.contents .concierge.enquete .title{
    margin-bottom: 3%;
    font-family:serif;
}
.contents .concierge.enquete .title .date{
    font-size:0.8rem;
}
.contents .concierge.enquete .title h2{
    font-size:1.1rem;
}
.contents .concierge.enquete .enquete_blc{
    padding-bottom: 20%;
}
.contents .concierge.enquete .enquete_blc .num{
    width:38%;
    text-align:center;
    border-bottom:1px solid #ccc;
    background-size:50% auto;
    font-size:.9rem;
    margin-bottom:5%;
}
.contents .concierge.enquete .enquete_blc .num div{
}
.enquete_blc .question{
    margin-bottom: 3%;
    font-size:0.8rem;
    line-height:1.3rem;
    word-break: break-word;
}
.enquete_blc .question,
.enquete_blc .answer{
    padding: 0 2%;
}
.enquete_blc .answer .radio_box,
.enquete_blc .answer .check_box{
    max-height:50vw;
    overflow-y:auto;
    background: rgba(176, 169, 181, .6);
    -webkit-overflow-scrolling: touch;
}
.enquete_blc .answer input[type=radio],
.enquete_blc .answer input[type=checkbox]{
    display: none;
}
.enquete_blc .answer .radio_box ul li label,
.enquete_blc .answer .check_box ul li label{
    display: block;
    width: 100%;
    padding:5% 8% 5% 10%;
    color: #fff;
    font-size: 1rem;
    position: relative;

}
.enquete_blc .answer .radio_box.value ul li label{
    text-align:center;
}
.enquete_blc .answer .radio_box ul li label:before,
.enquete_blc .answer .check_box ul li label:before{
    content: '';
    display: inline-block;
    width: .9rem;
    height: .9rem;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 3%;
    bottom: 0;

}
.enquete_blc .answer .check_box ul li [type=checkbox]:checked + label:before,
.enquete_blc .answer .radio_box ul li [type=radio]:checked + label:before{
    background:#fff;
}


.enquete_blc .answer .text_box input[type=text],
.enquete_blc .answer .text_box textarea{
    appearance:none;
    -webkit-appearance:none;
    outline:none;
    border:none;
    padding:0;
    background:#b0a9b5;
    padding:3%;
    width:100%;
    color: #fff;
    border-radius: 0;
}
.enquete_blc .answer .text_box input[type=text]::-webkit-input-placeholder,
.enquete_blc .answer .text_box textarea::-webkit-input-placeholder{
    color: rgba(255,255,255,.6);
}
.contents .concierge.enquete .enquete_blc .btn{
    text-align: right;
    margin-top: 7%;
}
.contents .concierge.enquete .enquete_blc .btn.control{
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 2% 2.75%;
}

.contents .concierge.enquete .enquete_blc .btn label,
.contents .concierge.enquete .enquete_blc .btn button{
    width:25%;
    padding: .4rem 1.3rem;
    border: 1px solid #8a858e;
    background: #8a858e;
    color: #fff;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.contents .concierge.enquete .enquete_blc .btn [type=radio]:checked + label{
    border: 1px solid #8a858e;
    background: #fff;
    color: #8a858e;
}

.contents .concierge.contact h3{
    width:80%;
    padding:5% 0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:0 auto 7%;
    text-align:center;
    font-size:0.9rem;
}
.contents .concierge .contact_list li + li{
    margin-top:2%;
}
.contents .concierge .contact_list li a{
    display:block;
    padding:6% 0;
    text-align:center;
    border:1px solid #ccc;
    font-size:0.8rem;
}
.contents .concierge .contact_list li.website a{
    background:#b0a9b5;
}


/* menu */
#menu .document_contents,
#menu .menu_contents{
    padding:10% 5% 0;
}
#menu .menu_contents.mail .txt{
    text-align:center;
    margin-bottom:10%;
}
#menu .menu_contents .input_area dl dt{
    margin-bottom:2%;
    font-size:0.8rem;
}
#menu .menu_contents .input_area dl dd + dt{
    margin-top:5%;
}
#menu .menu_contents .input_area dl dt:before{
    content:"●";
    color:#5d503c;
    margin-right:0.3rem;
    font-size:1rem;
}
#menu .menu_contents input[type=text]{
    border:1px solid #ccc;
    padding:3%;
    width:100%;
}
#menu .menu_contents.profile .btn,
#menu .menu_contents.mail .btn{
    width:30%;
    margin:8% 0 0 auto;
}
#menu .menu_contents.profile .photo_wrap{
    margin-bottom:5%;
}
#menu .menu_contents.profile .photo_wrap .photo{
    position:relative;
    height:40vw;
    width:40vw;
    margin:0 auto;
    background-color:#ccc;
    background-size:cover;
    background-position:center center;
    border-radius:50%;
}
#menu .menu_contents.profile .photo_wrap .photo .camera{
    display:block;
    position:absolute;
    width:12vw;
    height:12vw;
    border-radius:50%;
    bottom:0;
    right:0;
    background-color:#999;
    background-image:url(/img/sample_camera.png);
    background-size:6vw 6vw;
    background-position:center center;
    background-repeat:no-repeat;
    border:4px solid #fff;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.3);
}
#menu .menu_contents .key{
    background:#ddd;
    font-size:2rem;
    text-align:center;
    padding:5% 3%;
    margin-bottom:10%;
}
#menu .menu_contents .btn_copy{
    background:#5c4f3c;
    color:#fff;
    padding:3% 5%;
    display:block;
    width:80%;
    margin:0 auto;
    font-size:1rem;
    border-radius:3px;
}
#menu .document_contents{
    padding-bottom:3%;
}
#menu .document_contents h2{
    font-size:1.4rem;
    margin-bottom:3%;
    text-align:center;
}
#menu .document_contents dl dt,
#menu .document_contents dl dd{
    word-break:break-all;
}
#menu .document_contents dl dt{
    font-weight:bold;
    font-size:1rem;
}
#menu .document_contents dl dd{
    padding-left:1rem;
}
#menu .document_contents dl dd + dt{
    margin-top:1em;
}

.msg_send_wrap{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height: auto;
    min-height: 1.2rem;
    background:#fff;
    z-index:8000;
    border-top:1px solid #ccc;
}
.msg_send{
    display:flex;
}
.msg_send > div{
    padding:3px;
}
.msg_send .txt{
    flex:9;
}
.msg_send .txt textarea{
    width:100%;
    min-height:34px;
    max-height: 64px;
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 3px;
    padding:7px 10px;
    font-size: 1rem;
    line-height: 1rem;
    resize: vertical;
}
.msg_send .btn{
    flex:1;
    text-align:center;
}
.msg_send .btn button{
    width:100%;
}
.msg_send .btn button img{
    height:30px;
    width:auto;
}


.contents.login{
    padding:72px 10% 0;
}
.contents.login .logo{
    width:90%;
    margin:0 auto 5%;
}
.contents.login .logo + .logo{
    margin:0 auto 14%;
}
.contents.login .logo img{
    width:100%;
}
.contents.login .login_menu li a{
    display:block;
    padding:8% 10%;
    text-align:center;
    background:rgba(93,80,60,0.4);
    color:#fff;
    font-size:0.8rem;
}
.contents.login .login_menu li + li{
    margin-top:1%;
}
.contents.login .regist .input_area table{
    width:100%;
}
.contents.login .regist .input_area table tr th,
.contents.login .regist .input_area table tr td{
    border-bottom:1px solid #231815;
}
.contents.login .regist .input_area table tr th{
    padding:3% 5%;
    width:40%;
    text-align:left;
}
.contents.login .regist .input_area table tr td input{
    padding:4%;
    height:2rem;
    width:100%;
}


/*form*/
.contents.form{
    padding: 30px 2% 0;
}
.contents .form_logo{
    text-align:center;
    margin-bottom:20px;
}
.contents .form_logo img{
    max-width:30%;
}
.contents .form_wrap{
    padding:2px;
    background-image:url(/img/form_bg.png);
    background-size:100% 100%;
}
.contents .form_wrap *{
    font-family:"Hiragino Kaku Gothic Pro", Meiryo , "MS Gothic", sans-serif;
}
.contents .form_wrap .form_content{
    padding:8% 2%;
    background-color:#fff;
}
.contents .form_wrap .form_content table{
    width:100%;
}
.contents .form_wrap .form_content th,
.contents .form_wrap .form_content td{
    font-size:14px;
    padding:8px 0;
    position:relative;
    vertical-align:bottom;
}
.contents .form_wrap .form_content th{
    text-align:left;
    width:25%;
    min-width:80px;
}
.contents .form_wrap .form_content th .require{
    color:#c00;
    margin-left:0.2em;
}
.contents .form_wrap .form_content th{
}
.contents .form_wrap .form_content td input[type=text],
.contents .form_wrap .form_content td input[type=email],
.contents .form_wrap .form_content td input[type=password],
.contents .form_wrap .form_content td select{
    border:none;
    border-bottom:1px solid #666;
    font-size:16px;
    padding:3px;
    width:100%;
    border-radius:0;
    appearance:none;
    -webkit-appearance:none;
}
.contents .form_wrap .form_content td select + span:after{
    content:"";
    display:block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #000000 transparent transparent transparent;
    position:absolute;
    right:10px;
    top:21px;
}
.contents .form_wrap .form_content td input::placeholder{
    color:#ccc;
}
.contents .form_wrap .form_content td input[type=checkbox]{
    display:none;
}
.contents .form_wrap .form_content td label{
    position:relative;
    display:block;
}

.contents .form_wrap .form_content td label[for=reapply],
.contents .form_wrap .form_content td label[for=agree]{
    padding-left: 30px;
    //line-height: 25px;
}
.contents .form_wrap .form_content td label:before{
    content:"";
    display:block;
    border:2px solid #ccc;
    width:20px;
    height:20px;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    cursor:pointer;
}
.contents .form_wrap .form_content td input[type=checkbox]:checked + label:after{
    content:"";
    display:block;
    border-bottom:3px solid #000;
    border-right:3px solid #000;
    transform:rotate(45deg);
    width:10px;
    height:16px;
    position:absolute;
    top:-2px;
    left:8px;
    z-index:20;
}
.contents .form_wrap .form_content td p{
    padding-top:26px;
}
.contents .form_wrap .form_content .btn.submit{
    display:block;
    appearance:none;
    -webkit-appearance:none;
    outline:none;
    font-size:14px;
    letter-spacing:0.2em;
    padding:3%;
    min-width:200px;
    width:60%;
    margin:8% auto 0;
    border:2px solid #ccc;
    color:#ccc;
    box-sizing:border-box;
}
.contents .form_wrap .form_content .btn.submit.active{
    cursor:pointer;
    background-image:url(/img/form_btn_bg.png);
    background-size:100% 100%;
    color:#fff;
    border:none;
}
.message {
    text-align:center;
    font-size:16px;
    border: 1px solid #000;
    margin-bottom:10px;
    padding: 4px;
}
.error {
    color:red;
}

/* loader  */
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:  auto;
    font-size: 1rem;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    text-indent: -9999em;
    -webkit-animation: loading 1.1s infinite ease;
    animation: loading 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes loading {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #8a858e, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #8a858e, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #8a858e, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #8a858e, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #8a858e, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #8a858e, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #8a858e, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #8a858e;
    }
}
@keyframes loading {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #8a858e, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #8a858e, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #8a858e, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #8a858e, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #8a858e, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #8a858e, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #8a858e, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #8a858e;
    }
}
