<?php $this->assign('title', __('利用規約') ) ?>
<div class="form_logo">
    <?php echo noh( $this->Html->image( 'img_logo.png' ) ); ?>
</div>
<div class="form_wrap application">
    <div class="form_content" style="lihe-heiht: 1.2rem;">
        <div style="margin-bottom: 2rem;"><?php echo nl2br( $data->content ); ?> </div>
        <hr style="margin-bottom: 2rem;">
        <div><?php echo nl2br( $data->content_en ); ?></div>
    </div>
</div>

