/* normalize */
html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align:baseline;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
article, header, footer, main, aside, figure, figcaption, nav, section { 
    display:block;
}
html, body{ height:100%; }
body {
    /*line-height: 1;*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position:relative;
    margin:0;
    font-size: 14px;
    font-family: -apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
        'Helvetica Neue',            /* Macの欧文 (OS X 10.10以前) */
        'Segoe UI',                  /* Windowsの欧文 */
        'Hiragino Kaku Gothic ProN', /* Macのヒラギノ */
        Meiryo,                      /* Windowsのメイリオ */
        sans-serif;
}
ol, ul {
    list-style: none;
    list-style-type: none;
}
a{color:#003391;text-decoration:none;}
textarea{
    font-family: -apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
    'Helvetica Neue',            /* Macの欧文 (OS X 10.10以前) */
    'Segoe UI',                  /* Windowsの欧文 */
    'Hiragino Kaku Gothic ProN', /* Macのヒラギノ */
    Meiryo,                      /* Windowsのメイリオ */
    sans-serif;

}
table{
//    table-layout:fixed;
}
td{
    word-wrap:break-word;
}
td.expired{
    background: #ff7b7b;
}


/* common */
.clearfix:after{display:block;content:"";clear:both;}
.left{float:left;}
.right{float:right;}

.pt20{padding-top:20px !important;}
.pb20{padding-bottom:20px !important;}

.mt10{margin-top:10px !important;}

.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}

.p0{padding:0 !important;}

.text_c{text-align:center !important;}
.text_r{text-align:right !important;}

.fs12{font-size:12px !important;}
.fs14{font-size:14px !important;}
.fs16{font-size:16px !important;}
.fs18{font-size:18px !important;}
.fs24{font-size:24px !important;}

.fwb{font-weight:bold !important;}

.w75{width:75px !important;}
.w100{width:100px !important;}

.td_u{text-decoration:underline !important;}

.flex{
    display: -webkit-flex; /* Safari */
    display: flex;
}
.flex.col-2 div.student{
    width:25%;
    min-width:340px;
    padding:10px;
}
.flex.col-2 div.student .date{
    width:40% !important;
    max-width:100px;
    height:58px;
    vertical-align:top;
    position:relative;
}
.flex.col-2 div.student .date .dlt_btn{
    position:absolute;
    bottom:5px;
    right:10px;
}
.flex.col-2 div.select_sheet{
    width:35%;
    min-width:430px;
}
.flex.col-2 div.history_area{
    flex:1;
}

.none{
    display: none;
}



/* form */
input[type=text],
input[type=password],
textarea{
    padding:10px 15px;
    vertical-align: middle;
}
input[type=number],
select{
    /*padding:10px 15px;*/
    padding:5px 10px;
    border:1px solid #e4e4e4;
    background:#faf7f7;
    border-radius:2px;
    vertical-align: middle;
}
.term select{
    max-width:380px;
}

.radio label:not(:first-child){
}
.radio input[type="radio"],
.checkbox input[type="checkbox"]{
    display:none;
}
.radio label,
.checkbox label{
    display: inline-block;
    position: relative;
    cursor: pointer;
    /*margin-left: 20px;*/
    padding: 10px 4px 10px 1.5rem;
    border-radius: 2px;
    color: #000;
    font-size: 14px;
    text-align: left;
    line-height: 1;
    font-size: 12px;
}

.radio label:before,
.checkbox label:before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    margin: auto;
    border: #ccc 1px solid;
    border-radius: 0;
}

.radio input[type=radio]:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after{
    position:absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 1px;
    width: 1rem;
    height: 1rem;
    margin: auto;
    border-radius: 0;
    /*border: transparent 1px solid;*/
    background: #000;
}
.radio label:before,
.radio input[type=radio]:checked + label:after{
    border-radius: 50%;
}

.inline .radio,
.inline .checkbox{
    display: inline-block;
}

.inline .radio label,
.inline .checkbox label{
    margin-right: 1rem;
}

/*
.radio + .radio,
.checkbox + .checkbox{
    margin-left:1rem;
}
{*/


.btn{
    min-width: 68px;
    margin: 4px auto;
    /*background:#004567;*/
    background:#000;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    font-size:12px;
    border:none;
    border-radius:2px;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.btn:hover{
    background:#ccc;;
}
.btn.btn_back,
.btn.submit{
    width:300px;
    height:40px;
    line-height:40px;
    padding:0;
    position:relative;
}
.btn.submit .fa{
    position:absolute;
    left:5px;
}
.btn.btn_back{
    background:#666;
}
.btn.btn_delete{
    background:#999;
}
.btn.off{
    background:#ccc;
    color:#eee;
    cursor: default;
}

.btn_online.is-active{
    color: #000;
}

.btn_box .btn.submit{
    width:200px;
}

.btn_area
{
    width: 100%;
    display: inline-block;
}
.btn_area form{
    display: inline-block;
}


/* エラー */
.message{
    display: block;
    padding: 20px;
    border: 2px solid #000;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 12px;
}
.message.success{
    color:#000;
}
.message.error{
    color:#f00;
    border-color:#f00;
}
p.error{
    color:#f00;
}

.scroll{
    height:600px;
    overflow-y:auto;
    margin-right:10px;
}

/* tab_list */
.tab_list .tab_wrap{
    display: flex;
    margin-bottom: 1rem;
}
.tab_list .tab_wrap .tab{
    min-width: 140px;
    background: #bfbfbf;
    padding: 0 .8rem;
}
.tab_list .tab_wrap .tab.selected{
    background: #000;
}
.tab_list .tab_wrap .tab a{
    display: block;
    color: #fff;
    line-height: 40px;
    text-align: center;
}


/* dl_table */
.dl_table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #ccc;
    table-layout:fixed;
}
.dl_table.nest{
    border: none;
}
.dl_table > dl{
    display: table-row;
    width: 100%;
}

.dl_table > dl:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.dl_table > dl > dt,
.dl_table > dl > dd{
    display:table-cell;
    padding: 4px;
    vertical-align: middle;
    font-size: 12px;
}
.dl_table > dl > dt:not(:last-child),
.dl_table > dl > dd:not(:last-child){
    border-right: 1px solid #ccc;
}
 
.dl_table .list_image{
    max-width: 200px;
    max-height: 100px;
}
.dl_table > dl > dd.unapproved{
    background-color:#ffddff;
}

.dl_table > dl.leaved{
    background: #9c9c9c;
}



/* wrapper */
#main_wrap{
    min-width: 1120px;
    min-height: 100%;
    position:relative;
    background:#f8f8f8;
}

/* main_contents */
.contents_wrap{
    min-width: 1120px;
    min-height: 100%;
    padding-left: 220px;
    padding-top: 60px;
}
.contents_wrap.nosidebar{
    padding-left:0;
    min-width:800px;
}

.contents{
    min-height:100%;
    padding:20px 20px 80px;
}


/* login */
h2.login_title{
    text-align:center;
    font-weight:bold;
    font-size:14px;
    margin:10px;
}
.login_box{
    width:350px;
    margin:0 auto;
    border:1px solid #ccc;
    padding: 2.2rem 1.2rem;
    font-size:12px;
}
.login_box .logo h1{
    margin-bottom: 1rem;
}
.login_box .logo img{
    width: 80%;
    height: auto;
}
.login_box label{
    display:block;
    margin:10px 0;
}
.login_box input[type=text]{
    margin-bottom:20px;
}
.login_box input[type=text],
.login_box input[type=password]{
    width:100%;
    border:1px solid #e4e4e4;
    margin-bottom: .5rem;
    background:#faf7f7;
    border-radius:2px;
}
.login_box input[type=submit]{
    width: 100%;
    height: 40px;
    color: #fff;
    border: none;
    margin:0 0  1.2rem 0;
}
p.copyright{
    font-size:14px;
    text-align:center;
    margin-top:30px;
}



/* header */
header{
    height:60px;
    border-bottom:1px solid #94a8b9;
    background:#fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index:9999;
    font-size:14px;
}
header .logo{display:inline-block;float:left;margin:10px;font-size:18px;line-height:35px;}
header .logo img{height:46px;width:auto;}
header ul{display:table;height:35px;}
header ul li{display:table-cell;vertical-align:middle;text-align:center;width:135px;border-right:1px solid #525252;}
header ul li:first-child{border-left:1px solid #525252;}
header ul li a{display:block;color:#fff;}
header .logout{display: inline-block;height: 60px;border-left: 1px solid #525252;margin-left: 20px;}
header .logout:hover{background: #ccc;}
header .logout a{display: block;padding: 22px 20px;}
header .logout a:hover{color: #fff;}
/*header .consultant_select{padding:11px;}*/
header .consultant_select form{margin:0;}
header .consultant_select .config{display:inline-block;line-height:28px;padding:5px 0;}

footer{
    text-align: center;
}

/* menu */
.side_menu{
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 220px;
    background: #fcfcfc;
    /*height:100%;*/
    overflow:auto;
    border-right:1px solid #e5e5e5;
    z-index:9998;
}
.side_menu::-webkit-scrollbar{
    display:none;
}
.side_menu::-moz-scrollbar{
    display:none;
}
.side_menu div{height:100%;}
.side_menu ul{ }
.side_menu ul.level2{
    border-top:1px solid #d3d4cf;
    padding:0;
    background:#f2f2f2;
}
.side_menu ul > li{
    /*border-top:1px solid #f3f2f0;*/
    border-bottom:1px solid #d3d4cf;
    position:relative;
    background: #fcfcfc;
}
.side_menu ul.level2 > li:last-child{
    border-bottom:none;
}
.side_menu ul > li a > i{
    margin-right:0.7em;
}
.side_menu ul > li a,
.side_menu ul > li span{
    height:40px;
    line-height:40px;
    display:block;
    cursor:pointer;
    color:#000;
    padding-left:15px;
}
.side_menu ul > li span.badge{
    position:absolute;
    height:24px;
    border-radius:12px;
    padding:2px 7px;
    line-height:normal;
    right:5px;
    top:50%;
    margin-top:-12px;
    background:#f00;
    color:#fff;
}
.side_menu ul > li.selected span.badge{
    background:#fff;
    color:#003391;
    font-weight:bold;
}
.side_menu ul > li.selected{
    /*border-bottom:none;*/
}
.side_menu ul > li.selected > a{
    /*color: #054a6d;*/
    background:#000;
    color:#fff;
}
.side_menu ul > li a:hover{
    background:#ccc;
}
.side_menu ul.level2 li a{
    padding-left:2.2em;
}

/* navi */
.navi_wrap{
   margin-bottom: 10px;
}
.navi_wrap nav .navi{
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
}
.navi_wrap nav ul li{
    /*width: 160px;*/
    width: 140px;
    min-width: 140px;
    font-size: 12px;
    color: #fff;
    background: #bfbfbf;
    text-align: center;
    position: relative;
}
.navi_wrap nav ul li:hover{
    background: #ccc;
    /*background:#EA8B00;*/
}
.navi_wrap nav ul li.active{
    /*background: #054a6d;*/
    background:#003391;
}

.navi_wrap nav ul li a{
    display: block;
    color: #fff;
    line-height: 40px;
}

.navi_wrap nav ul li .level2{
    display: none;
    position: absolute;
    /*top: 100%;*/
    /*top: 0;*/
    top:40px;
    left: 0;
    z-index:1000;
}
.navi_wrap nav ul li .level2 li{
    background:#b1b1b1;
    display:inline-block;
}
.navi_wrap nav ul li .level2 li:hover{
    background:#ccc;
}

/* pager */
.pager{
    text-align:center;
}
.pager a,
.pager span{
    margin:0 20px;
}

.admin_pager{
    margin-top:10px;
}
.admin_pager > span{
    display:inline-block;
    font-size:12px;
    min-width:30px;
    border:1px solid #ccc;
    background:#fff;
}
.admin_pager > span + span{
    margin-left:10px;
}
.admin_pager > span.current,
.admin_pager > span.disabled,
.admin_pager > span a{
    padding:5px;
}
.admin_pager > span.current{
    color:#fff;
    background:#000;
    border:none;
}
.admin_pager > span.disabled{
    opacity:0.4;    
}
.admin_pager > span a{
    display:block;
    color:#000;
}

 
.contents_title{padding-bottom:10px;border-bottom:2px solid #000;margin-bottom:20px;}
.contents_title h2{font-size:22px;}
.contents_title h2 .date{display:inline-block;font-size:18px;margin-left:0.5em;}

.sub_title{
    height: 1.8rem;
    padding-left: .5rem;
    margin-bottom: 10px;
    border-left: .5rem solid #000;
}
.sub_title h2{
    line-height: 1.8rem;
}

.list_table{
    margin-bottom: 20px;
}
.list_table table{
    border-collapse:collapse;
    background:#fff;
    width:100%;
}



.list_table table th,
.list_table table td{
    /*padding:10px;*/
    padding:4px;
    border:1px solid #ccc;
    font-size:12px;
    vertical-align:middle;
}

.list_table table tr:nth-child(odd),
.list_table table tr:nth-child(odd) dl,
.list_table table tr:nth-child(odd) p{
    background: #f0f8ff;
}

.list_table table tr.display_hidden{
    background: #bbb;
}


.list_table img{
    max-width: 210px;
    height: auto;
    max-height: 400px;
    vertical-align: bottom;
}

.form_table{
    margin-bottom: 20px;
}
.form_table.search{
    margin-bottom: 10px;
}
.form_table table{
    border-collapse:collapse;
    background:#fff;
    width:100%;
}
.form_table table th{
    width: 200px;
}

.form_table table th,
.form_table table td{
    border:1px solid #ccc;
    /*padding:10px;*/
    padding:4px;
    font-size:12px;
    vertical-align:middle;
    text-align:left;
}

.form_table table td input[type=text],
.form_table table td input[type=password]{
    width:100%;
    border:1px solid #e4e4e4;
    background:#faf7f7;
    border-radius:2px;
}

.form_table table td input[type=text].date_input{
    width:120px;
}
.form_table table td input[type=text].date{
    width:200px;
}
.form_table table td textarea{
    width:100%;
    border:1px solid #e4e4e4;
    background:#faf7f7;
    border-radius:2px;
    resize:vertical;
    line-height:1.3;
}
.form_table table td input.year{
    width:200px;
    margin-right:10px;
}
.form_table table td input[type=file]{
    visibility: hidden;
}


.form_table .preview{
    margin-bottom: 10px;
}
.form_table img{
    max-width: 210px;
    height: auto;
    max-height: 400px;
    vertical-align: bottom;
}
.form_table table td pre{
}

.form_table .require{
    position:relative;
}
.form_table .require:after{
    content:"必須";
    display:block;
    width:40px;
    height:20px;
    text-align:center;
    font-size:12px;
    line-height:20px;
    color:#fff;
    background:#c00;
    border-radius:4px;
    position:absolute;
    top:50%;
    right:10px;
    margin-top:-10px;
}
.form_table .error-message{
    color:#f00;
    margin-top:5px;
}

.form_table table td.list{
    background:#f9f9f9;
}

.form_table table td.list .relation{
    border:1px solid #ccc;
    margin-bottom:10px;
    background:#fff;
    padding:10px;
}

.form_table table td.list .relation .dl_table > dl > dt,
.form_table table td.list .relation .dl_table > dl > dd{
    vertical-align:top;
}
.form_table table td.list .relation .dl_table > dl > dt{
    width:200px;
}
.form_table table td.list .relation .dl_table > dl > dt img{
    max-width:240px;
    height:auto;
},

.form_table table td.top_slider_detail{padding:0;}

.form_table .ck_editor{
    visibility: hidden;
}
.inner_table{
}
.inner_table th.function{
    width: 60px;
    text-align: center;
}
.inner_table th.function .delete_table{
    color: #999;
    cursor: pointer;
    font-size: 1rem;
}
.inner_table .form_option{
}
.inner_table .form_option .flex{
    align-items: center; 
}
.inner_table .form_option td .item:not(:last-child){
    margin-bottom: 4px;
}
.inner_table .form_option td .item > div:not(:last-child){
    padding-right: 1rem;
}
.inner_table .form_option td .item > div:nth-child(2){
    flex-grow: 1;
}

.required{
    color: #ff0000;
}
.undisplay{
    background: #b3b3b3;
}

/* 記事管理 */
.search_panel {
    margin-bottom: 36px;
    padding: 16px;
    background-color: #f0f0f0;
}
.search_panel .search_title {
    margin-bottom: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cfcfcf;
    font-size: 16px;
}
.search_panel .checkbox {
    display: inline-block;
    margin-right: 4px;
}
.search_panel .form_table table td input[type=text].publish_start,
.search_panel .form_table table td input[type=text].publish_end{
    width: 30%;
}
.select_limit {
    margin-bottom: 8px;
    text-align: right;
}

.form-group {
    margin-bottom: 16px;
}
.form-group label{
    width: 20%;
    display: block;
    float: left;
}
.form-group .form-input {
    display: block;
    width: 80%;
    float: left;
}
.form-group .form-input input[type=text]{
    width: 100%;
}
.form-group .form-input select{
    width: 36%;
}


/* トグルボタン */
.tgl-btn-center {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tgl-btn {
  border: none;
  border-radius: 45px;
  width: 50px;
  height: 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
  background: #f8f8f2;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.tgl-btn:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  content: "";
  background: #f8f8f2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
  pointer-events: none;
}
.tgl-btn:checked {
  background: #a6e22e;
}
.tgl-btn:checked:after {
  left: 25px;
}
#selectTag_chosen,
.chosen-container{
    width: 100% !important;
    padding: 8px;
}
.modal_video .movie {
    width: 500px;
}

/*** panel ***/
.panelControl{
    display:inline-block;
    position:relative;
}
.panel{
    position: absolute;
    /*bottom: 0;
    right:120%;*/
}
.panel .panel_wrapper,
.panel .panel_day_wrapper,
.panel .panel_template_wrapper{
    display:none;
    width: 240px;
    padding:10px 36px 10px 16px;
    background: #fff;
    box-shadow: 1px 1px rgba( 0,0,0,.5);
    border:1px solid #ccc;
    text-align:left;
    position: relative;
}
.panel .panel_day_wrapper{
    width: 340px;
}
.panel .panel_template_wrapper{
    width: 280px;
}
.panel .panel_wrapper.on,
.panel .panel_day_wrapper.on,
.panel .panel_template_wrapper.on{
    display:block;
}
.panel .panel_button{
    padding-top:10px;
    text-align:center;
}
.panel .panel_close{
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.panel .panel_close:before,
.panel .panel_close:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.panel .panel_close:before{ transform: rotate(45deg); }
.panel .panel_close:after{ transform: rotate(-45deg); }




#modal{
    position:fixed;
    /*top:0;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/
    background: #fff;
    width: 350px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -150px;
    box-shadow: 1px 1px rgba( 0,0,0,.5);
    border: 1px solid #ccc;
    z-index:100;
}
#modal .modal_contents{
    width:350px;
    margin:30px auto 0;
    text-align:center;
}
#modal .modal_close{
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#modal .modal_close:before,
#modal .modal_close:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#modal .modal_close:before{
    transform: rotate(45deg);
}
#modal .modal_close:after{
    transform: rotate(-45deg);
}
#modal .select_wrap,
#modal .textarea_wrap{
    margin-bottom:20px;
}
#modal textarea{
    width:300px;
    resize:none;
    padding: 10px 15px;
    border: 1px solid #e4e4e4;
    background: #faf7f7;
    border-radius: 2px;
    height:100px;
}
#modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    z-index: 998;
}
.modal_main {
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    padding: 16px;
}



.custom_date .date_wrap{
    display:flex;
    align-items:center;
    margin:5px 0;
}
.custom_date .date_wrap > div{
    margin-right:10px;
}
.custom_date .date_wrap > div:last-child{
    margin-right:0;
}


/* 重複選択 */
.duplicate_select{
    display: flex;
}
.duplicate_select .drop_area,
.duplicate_select .drag_items{
    width: 220px;
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 1rem;
    overflow-y: auto;
}
.duplicate_select .drop_area ul li,
.duplicate_select .drag_items ul li{
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 6px;
}

.duplicate_select .drop_area ul li{
    position: relative;
}
.duplicate_select .drop_area ul li .delete{
    cursor: pointer;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    right: .5rem;
    bottom: 0;
    margin: auto;
    font-size: 1rem;
    text-align: center;
}
.duplicate_select .drag_items ul li{
    cursor; move;
}

.duplicate_select .drop_area.ui-droppable-hover{
    background: #eee;
}


/*** tooltip ***/
.tooltip{
    width: 600px;
    list-style: none;
}
.tooltip li{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}
.tooltip li a{
    display: inline-block;
    padding: 3px;
}
.tooltip div.item{
    background: #afc6e2;
    color: #fff;
    width: 180px;
    height: auto;
    padding: 4px 10px;
    position: absolute;
    bottom : 130%;
    left: 0;
    text-align: left;
    z-index: 2;
    display: none;
    opacity: 0;
}

.tooltip div.item.on{
    bottom : 146%;
    opacity: 1;
    transition: opacity .2s ease-in,  bottom .2s ease-in;
    display: block;
}

.tooltip div.item p {
    width: 0;
    height: 0;
    position: relative;
    top: 24px;
    left: 10px;
    border: 10px solid transparent;
    border-top: 10px solid #afc6e2;
}


div.load_area{
    background: #fff;
    position: fixed;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
}
div.load_area p {
    position: absolute;
    text-align:center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size:12px;
}
div.load_area p > img{
    width:50px;
}



/*** ゲージ ***/
.guage{
    position: relative;
}
.guage.background{
    background: #e0dcd4;
}
.guage .guage_inner{
    position: absolute;
}
.horizontal .guage .guage_inner{
    width: 100%;
    background: #edab48;
}
.horizontal .guage .guage_inner{
    height: 100%;
    background: #edab48;
    top: auto;
    left: 0;
    bottom: auto;
}
.vertical .guage_wrap{
    position: relative;
}
.vertical .guage{
    width: 10px;
    height: 100%;
}
.vertical .guage .guage_inner{
    bottom: 0;
    width: 100%;
}
.vertical .guage .guage_inner{
}

.menu_wrap{
    background: #fff;
    padding: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.menu_wrap .note{
    margin-bottom: 10px;
}
.menu_wrap ul{
    min-height: 50px;
}
.menu_wrap ul.selected{
    border: 1px dotted #ccc
}

/* 複数画像選択 */

#image_area {
    border: 1px solid #ccc;
    padding: 4px;
    margin-bottom: 10px;
    min-height: 100px;
    background: #f1f1f1;
}
#image_area li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
#image_area .expanion{
    max-height: 100px;
}

/* CSVアップロード */
#accept_area{
    min-height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    z-index: 100000;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
#accept_area.drop_on{
    border: 3px solid #ccc;
}
#accept_area.drop_on p{
    opacity: 0.7;
}
