<div class="communication">
    <div class="create_thread">
        <p class="txt">にどこまでも応えていくということです<br>
        これまでの新築マンションがいわばお仕着せの洋服だと<br>
        したらインプレそれはあなたの理想と</p>
        <?php echo noh( $this->Form->create( $threads ) ); ?>
            <?php echo noh( $this->Form->hidden( 'contractant_id' ) ); ?>
            <?php echo noh( $this->Form->hidden( 'chat_group_id' ) ); ?>
            <?php echo noh( $this->Form->hidden( 'contractant_service_menu_id' ) ); ?>
        <div class="input_area">
            <dl>
                <dt>スレッドタイトル</dt>
                <dd><?php echo $this->Form->text( 'title' ); ?></dd>
            </dl>
        </div>
        <div class="btn">
            <button type="submit">
                <img src="<?php echo APP_URL . '/img/communication/communication_button03.png' ?>">
            </button>
        </div>
        <?php echo noh( $this->Form->end() ); ?>
    </div>
</div>

