<div class="menu">

    <div class="clearfix contents_title">
        <h2 class="left"><?php echo h( $title_for_layout ); ?></h2>
    </div>

    <?php echo noh( $this->element('System/navi_menu') ); ?>

    <div class="sub_title clearfix">
        <h2 class="left">タイプ一覧</h2>
        <div class="right"> 
            <a href="<?php echo noh( $this->Url->build( ['action' => 'typeEdit' ]) ); ?>" class="btn"><i class="fa fa-edit"></i> 新規作成</a>
        </div>
    </div>

    <?php echo noh( $this->Flash->render() ); ?>

    <div class="list_table">
        <table>
            <tr>
                <th>順番</th>
                <th>名前</th>
                <th>説明</th>
                <th>&nbsp;</th>
            </tr>
            <?php foreach( $data as $key => $val ): ?>
                <tr>
                    <td class="title"><?php echo h( $val->orderby); ?></td>
                    <td class="title"><?php echo h( $val->name); ?></td>
                    <td class="title"><?php echo h( $val->description ); ?></td>
                    <td class="">
                        <a href="<?php echo noh( $this->Url->build( ['action' => 'typeEdit',   $val->id ]) ); ?>" class="btn"><i class="fa fa-edit"></i> 編集</a>
                        <a href="<?php echo noh( $this->Url->build( ['action' => 'typeDelete', $val->id ]) ); ?>" class="btn btn_delete"><i class="fa fa-times"></i> 削除</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>

    </div>
    <div class="text_c admin_pager">
        <?php echo noh( $this->Paginator->first( '最初へ' ) ); ?>
        <?php echo noh( $this->Paginator->prev( '前へ' ) ); ?>
        <?php echo noh( $this->Paginator->numbers() ); ?>
        <?php echo noh( $this->Paginator->next( '次へ' ) ); ?>
        <?php echo noh( $this->Paginator->last( '最後へ' ) ); ?>
    </div>
</div>
